<div class="header section-inner">
	{% include "./style.njk" %}

	<h1 class="site-title">
		<a href="" title="{{crp.global.site.name}} - {{crp.global.site.tagline}}">{{crp.global.site.name}}</a>
	</h1>
	<p class="site-description">{{crp.global.site.tagline}}</p>
</div>
