<div class="site-header">
	{% include "./style.njk" %}

	<a onclick="crpGetPage('/')" title="{{site.name}} - {{site.tagline}}"><img src="{{crp.storage.getUrl(css.img.header)}}" width="100%" /></a>
</div>
