<div class="site-header">
	{% include "./style.njk" %}

	<h1 class="site-title">
		<a href="" title="{{site.name}} - {{site.tagline}}">{{site.name}}</a>
	</h1>
	<p class="site-description">{{site.tagline}}</p>
</div>
