<style>
	.site-header {
		margin:0 auto;
		padding:4.375em 0; /* 70/16 */
		position:relative;
		width: 20.3125em; /* 325/16 */
		top:3.75em; /* 60/16 */
	}

	.site-title {
		font-size:1.75em; /* 28/16 */
		font-style:normal;
		text-transform:uppercase;
		text-align:center;
		text-shadow:0 0.03571428571428571em 0.03571428571428571em rgba(0,0,0,0.2); /* 1/28 */ /* 1/28 */
	}

	.site-title a {
		color:#fff;
	}

	.site-title a:hover {
		text-decoration:none;
	}

	.site-description {
		margin-top:1.3888888888888888em; /* 25/18 */
		color:#fff;
		line-height:1.2777777777777777em; /* 23/18 */
		font-family:Droid Serif, Georgia, serif;
		font-size:1.125em; /* 18/16 */
		text-align:center;
		text-shadow:0 0.05555555555555555em 0 rgba(0,0,0,0.2); /* 1/18 */
	}
</style>
