{% include "./style.njk" %}
{% lookup 'users', {_id: profileid}, 'profile' %}

<div class="profile-header d-flex flex-column-reverse" style="background-image:url('{{crp.members.getCoverPic(profile)}}')">
	<div class="text-white text-center h-50" style="background-color:rgba(0, 0, 0, 0.5)">
		<img src="{{crp.members.getProfilePic(profile)}}" alt="{{profile.display_name}}" width="150" height="150" />
		<div class="pt-2">
			<h2 class="font-weight-bold">{{profile.display_name}}</h2>
			<p>{{profile.tagline}}</p>
		</div>
	</div>
</div>


<div class="profile-content">
	{% include "pages" + subPage %}
</div>
