<div class="page full profile">
	{% include "./style.njk" %}
	{% lookup 'users', {_id: profileid}, 'profile' %}

	<div class="profile-header">
		<div class="header-cover-image" style="background-image:url('{{profile.img.cover or '/img/members/cover.png'}}')"></div>
		<div class="header-meta">
			<img class="profile-pic" src="{{profile.img.profile or '/img/members/profile.png'}}" />
			<div class="profile-details">
				<a class="profile-name" onclick="crpGetPage('/members/{{profile.nicename}}')">{{profile.display_name}}</a>
				<span class="profile-tagline">{{profile.tagline}}</span>
			</div>
		</div>
	</div>

	<div class="profile-content">
		<div class="top-bar"></div>

		<div class="containor">
			{% include "pages" + subPage %}
		</div>

		<div class="nav noselect">
			<a onclick="crpGetSubPage('/members/{{profile.nicename}}', '.profile-content .containor', true)">Activity</a>
			<a onclick="crpGetSubPage('/members/{{profile.nicename}}/info', '.profile-content .containor', true)">Info</a>
			<a onclick="crpGetSubPage('/members/{{profile.nicename}}/friends', '.profile-content .containor', true)">Friends</a>
			<a onclick="crpGetSubPage('/members/{{profile.nicename}}/chapters', '.profile-content .containor', true)">Chapters</a>
			{% lookup 'users', {_id: userid}, 'user' %}
			{% if profile._id.equals(user._id) %}
				<a onclick="crpGetSubPage('/members/{{profile.nicename}}/messages', '.profile-content .containor', true)">
					Messages
					{% query 'chapters', {}, {sort: [['name', 1]]}, 'chapters' %}
					{% set chapters = crp.util.getChapterInvites(chapters, profile._id) %}
					{% if chapters.length > 0 %}
						<span class="count">{{chapters.length}}</span>
					{% endif %}
				</a>
				<a onclick="crpGetSubPage('/members/{{profile.nicename}}/account', '.profile-content .containor', true)">Account</a>
				<a onclick="crpGetSubPage('/members/{{profile.nicename}}/settings', '.profile-content .containor', true)">Settings</a>
			{% endif %}
		</div>
	</div>
</div>
