<style>
	.profile {
		padding:1.875em; /* 30/16 */
	}

	.profile .standard-form {
		display:flex;
		flex-wrap:wrap;
	}

	.profile .standard-form label,
	.profile .standard-form .standard-input {
		flex-basis:50%;
		border-right:0.0625em solid {{css.colors.bg}}; /* 1/16 */
	}

	.profile .standard-form label.fill,
	.profile .standard-form .standard-input.fill {
		flex-basis:100%;
	}

	.profile .standard-form input[type=submit] {
		margin-left:auto;
	}

	.profile-header {
		border:0.3125em solid {{css.colors.primary}}; /* 5/16 */
		border-radius:0.3125em; /* 5/16 */
		height:19.375em; /* 310/16 */
		font-family:'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
		margin-bottom:1.875em; /* 30/16 */
	}

	.profile-header .header-cover-image {
		background-position:center top;
		background-repeat:no-repeat;
		background-size:cover;
		height:100%;
	}

	.profile-header .header-meta {
		display:flex;
		padding-left:1em; /* 16/16 */
		margin-top:-10.375em; /* 166/16 */
	}

	.profile-header .header-meta .profile-pic {
		border-radius:9.375em; /* 150/16 */
		height:9.375em; /* 150/16 */
		width:9.375em; /* 150/16 */
	}

	.profile-header .header-meta .profile-details {
		padding-left:0.9375em; /* 15/16 */
		padding-top:1.875em; /* 30/16 */
	}

	.profile-header .header-meta .profile-details .profile-name {
		color:{{css.colors.font}};
		cursor:pointer;
		font-size:2.1875em; /* 35/16 */
		font-weight:bold;
		margin-bottom:0.5714285714285714em; /* 20/35 */
		text-decoration:none;
	}

	.profile-header .header-meta .profile-details .profile-tagline {
		display:block;
		font-size:1.125em; /* 18/16 */
	}

	.profile-content {
		display:flex;
		flex-wrap:wrap;
		justify-content:left;
	}

	.profile-content .top-bar {
		background-color:{{css.colors.primary}};
		flex-basis:100%;
		height:2.375em; /* 38/16 */
	}

	.profile-content .containor {
		flex-basis:75%;
	}

	.profile-content .nav {
		flex-basis:25%;
	}

	.profile-content .nav a {
		background-color:{{css.colors.primary}};
		color:{{css.colors.font}};
		cursor:pointer;
		display:block;
		font-family:'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
		margin-top:0.0625em; /* 1/16 */
		padding:0.625em; /* 10/16 */
		text-align:center;
	}

	.profile-content .nav a:hover {
		background-color:{{css.colors.header}};
		text-decoration:none;
	}
</style>
