<style>
	.post {
		padding:1.875em; /* 30/16 */
	}

	.post-header img {
		display:block;
		margin:auto;
		max-width:100%;
	}

	.post-header h1.post-title {
		display:block;
		font-size:1.5em; /* 24/16 */
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		margin-top:2.0833333333333335em; /* 50/24 */
		margin-bottom:1.0416666666666667em; /* 25/24 */
		text-align:center;
		text-transform:uppercase;
	}

	.post-content {
		padding:0em 1.875em 1.875em 1.875em; /* 0/16 */ /* 30/16 */ /* 30/16 */ /* 30/16 */
	}

	.post-content h2 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1em;
		margin-bottom:1.5625em; /* 25/16 */
		text-transform:uppercase;
	}

	.post-content h3 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:0.75em; /* 12/16 */
		margin:2.0833333333333335em 0; /* 25/12 */
		text-transform:uppercase;
	}

	.post-content p {
		font-size:1.125em; /* 18/16 */
		margin-bottom:1.1111111111111112em; /* 20/18 */
	}

	.post-content hr {
		border-bottom:0.125em solid {{css.colors.font}}; /* 2/16 */
		display:block;
		margin:1.5625em 0; /* 25/16 */
	}
</style>
