<style>
	.post {
		padding:1.875em; /* 30/16 */
	}

	.post-header img {
		display:block;
		margin:auto;
		max-width:100%;
	}

	.post-header h1.post-title {
		display:block;
		font-size:1.25em; /* 20/16 */
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		margin-top:2.0833333333333335em; /* 50/24 */
		margin-bottom:1.0416666666666667em; /* 25/24 */
		text-align:center;
		text-transform:uppercase;
	}

	.post-content {
		padding:0em 1.875em 1.875em 1.875em; /* 0/16 */ /* 30/16 */ /* 30/16 */ /* 30/16 */
	}

	.post-content h1 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:2.25em; /* 36/16 */
		font-weight:bold;
		margin-bottom:0.6944444444444444em; /* 25/36 */
		text-transform:uppercase;
	}

	.post-content h2 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1em;
		margin-bottom:1.5625em; /* 25/16 */
		text-transform:uppercase;
	}

	.post-content h3 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:0.8em; /* 12/16 */
		margin:2.0833333333333335em 0; /* 25/12 */
		text-transform:uppercase;
	}

	.post-content h4 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1.25em;
		margin:1.25em 0; /* 25/20 */
		text-transform:uppercase;
	}

	.post-content h5 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		margin:1.5625em 0; /* 25/16 */
		text-transform:uppercase;
	}

	.post-content h6 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:0.8em;
		margin:2.0833333333333335em 0; /* 25/12 */
		text-transform:uppercase;
	}

	.post-content ul {
		line-height:1.5em;
		margin-bottom:1.25em;
		margin-left:1.5em;
	}

	.post-content p {
		margin-bottom:1.25em; /* 20/16 */
		line-height:150%;
	}

	.post-content hr {
		border-bottom:0.125em solid {{css.colors.font}}; /* 2/16 */
		display:block;
		margin:1.5625em 0; /* 25/16 */
	}
</style>
