.forum {
	padding:30px;
	width:75%;
}

.forum table,
.forum tbody,
.forum tr {
	display:block;
}

.forum .category {
	background-color:#0c9060;
	border-bottom:1px solid #585858;
	height:44px;
	padding:12px;
}

.forum .category th {
	display:inline-block;
	text-align:left;
	width:55%;
}

.forum .category td {
	display:inline-block;
	text-align:center;
	width:10%;
}

.forum .category td:last-child {
	width:22%;
}