<div class="chapter">
	{% include "./style.njk" %}
	{% lookup 'users', {_id: userid}, 'user' %}
	{% lookup 'chapters', {_id: chapterid}, 'chapter' %}

	<div class="header" style="background-image:url('{{crp.chapters.getCoverPic(chapter)}}')">
		<div class="meta">
			<img src="{{crp.chapters.getProfilePic(chapter)}}" />
			<h1>{{chapter.name}}</h1>
			<p>{{chapter.tagline}}</p>
			{% if crp.chapters.getMember(chapter, user._id).role > 0 %}
				<p><a onclick="leaveChapter('{{chapter._id}}')">Leave Chapter</a></p>
			{% elseif chapter.open %}
				<p><a onclick="joinChapter('{{chapter._id}}')">Join Chapter</a></p>
			{% endif %}
		</div>
	</div>

	<ul class="nav noselect">
		{% if chapter.type == 'group' %}
			<li><a class="subpage" href="/chapters/{{chapter.nicename}}" container=".chapter .content" newurl="true">Home</a></li>
			<li><a class="subpage" href="/chapters/{{chapter.nicename}}/forums" container=".chapter .content" newurl="true">Forums</a></li>
		{% endif %}

		<li><a class="subpage" href="/chapters/{{chapter.nicename}}/members" container=".chapter .content" newurl="true">Members</a></li>

		{% if crp.chapters.getMember(chapter, user._id).role >= 2 or  user.role >= 3 %}
			<li><a class="subpage" href="/chapters/{{chapter.nicename}}/edit" container=".chapter .content" newurl="true">Manage</a></li>
		{% endif %}
	</ul>

	<div class="content">
		{% include "pages" + subPage %}
	</div>

	{% include "./script.njk" %}
</div>
