<div class="chapter">
	{% include "./style.njk" %}
	{% lookup 'users', {_id: userid}, 'user' %}
	{% lookup 'chapters', {_id: chapterid}, 'chapter' %}

	<div class="header" style="background-image:url('{{chapter.img.cover or '/img/members/cover.png'}}')">
		<div class="meta">
			<img src="{{chapter.img.profile or '/img/chapters/profile.png'}}" />
			<h1>{{chapter.name}}</h1>
			<p>{{chapter.tagline}}</p>
			{% if crp.util.getChapterMember(chapter, user._id) %}
				<p><a onclick="leaveChapter('{{chapter._id}}')">Leave Chapter</a></p>
			{% else %}
				<p><a onclick="joinChapter('{{chapter._id}}')">Join Chapter</a></p>
			{% endif %}
		</div>
	</div>

	<ul class="nav noselect">
		<li onclick="crpGetSubPage('/chapters/{{chapter.nicename}}', '.chapter .content', true)">Home</li>
		<li>Forums</li>
		<li>Members</li>
		{% if crp.util.getChapterMember(chapter, user._id).role == 'leader' or  user.role == 'administrator' %}
			<li onclick="crpGetSubPage('/chapters/{{chapter.nicename}}/edit', '.chapter .content', true)">Manage</li>
		{% endif %}
	</ul>

	<div class="content">
		{% include "pages" + subPage %}
	</div>

	{% include "./script.njk" %}
</div>
