{% query 'users', {}, {}, 'users' %}
{% query 'posts', {}, {sort: [[['date', -1]]]}, 'posts' %}
{% set pages = crp.util.filterObjectArray(posts, {type: 'page'}) %}
{% set news = crp.util.filterObjectArray(posts, {type: 'news'}) %}
{% set featured = crp.util.filterObjectArray(posts, {type: 'featured_content'}) %}

<div class="row bg-white shadow-sm">
	<div class="list-group col-lg-3 pr-0">
		<a href="/admin/settings" class="list-group-item list-group-item-action border-right-0 rounded-0" container=".admin-content" newurl="true">Site</a>
		<a href="/admin/users" class="list-group-item list-group-item-action border-right-0 rounded-0" container=".admin-content" newurl="true">Users</a>
		<a href="/admin/forums" class="list-group-item list-group-item-action border-right-0 rounded-0" container=".admin-content" newurl="true">Forums</a>
		<a href="/admin/posts" class="list-group-item list-group-item-action border-right-0 rounded-0 active" container=".admin-content" newurl="true">Posts</a>
	</div>

	<div class="col-lg-9 border-left p-3">
		<nav class="nav nav-tabs d-block d-lg-flex text-center bg-white">
			<a href="#all-posts" class="nav-item nav-link border-bottom rounded-0 pointer active" id="all-tab" data-toggle="tab" role="tab" aria-controls="all" aria-selected="true">All ({{posts.length}})</a>
			<a href="#page-posts" class="nav-item nav-link border-bottom rounded-0 pointer" id="page-tab" data-toggle="tab" role="tab" aria-controls="page" aria-selected="false">Page ({{pages.length}})</a>
			<a href="#news-posts" class="nav-item nav-link border-bottom rounded-0 pointer" id="news-tab" data-toggle="tab" role="tab" aria-controls="news" aria-selected="false">News ({{news.length}})</a>
			<a href="#featured-posts" class="nav-item nav-link border-bottom rounded-0 pointer" id="featured-tab" data-toggle="tab" role="tab" aria-controls="featured" aria-selected="false">Featured Content ({{featured.length}})</a>
			<button type="button" class="btn btn-primary btn-sm ml-auto my-1" data-toggle="modal" data-target="#newPostModal">New Post</button>
		</nav>

		<div class="container tab-content mt-3">
			<div class="row">
				<div class="col-6">Title</div>
				<div class="col-2">Author</div>
				<div class="col-3">Date</div>
				<div class="col-1"></div>
			</div>

			<div class="row list-group tab-pane fade show active" id="all-posts" role="tabpanel" aria-labelledby="all-tab">
				{% for post in posts %}
					{% include "./loop.njk" %}
				{% endfor %}
			</div>

			<div class="row list-group tab-pane fade" id="page-posts" role="tabpanel" aria-labelledby="page-tab">
				{% for post in pages %}
					{% include "./loop.njk" %}
				{% endfor %}
			</div>

			<div class="row list-group tab-pane fade" id="news-posts" role="tabpanel" aria-labelledby="news-tab">
				{% for post in news %}
					{% include "./loop.njk" %}
				{% endfor %}
			</div>

			<div class="row list-group tab-pane fade" id="featured-posts" role="tabpanel" aria-labelledby="featured-tab">
				{% for post in featured %}
					{% include "./loop.njk" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostLabel">New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <form id="new-post-form" novalidate>
  			<div class="form-group">
  				<label for="new-post-form-title">Title</label>
  				<input type="text" class="form-control" id="new-post-form-title" name="title" />
  				<div class="invalid-feedback"></div>
  			</div>

  			<div class="form-group">
  				<label for="new-post-form-type">Type</label>
  				<select class="form-control" id="new-post-form-type" name="type">
  					<option value="page">Page</option>
  					<option value="news">News</option>
  					<option value="featured_content">Featured Content</option>
  				</select>
  				<div class="invalid-feedback"></div>
  			</div>

  			<div class="form-group">
  				<label for="new-post-form-slug">Slug</label>
  				<input type="text" class="form-control" id="new-post-form-slug" name="slug" />
  				<div class="invalid-feedback"></div>
  			</div>

  			<div class="form-group">
  				<label for="new-post-form-img">Featured Image</label>
  				<input type="text" class="form-control" id="new-post-form-img" name="img" />
  				<input type="file" class="form-control-file" name="upload" />
  				<div class="invalid-feedback"></div>
  			</div>

  			<div class="form-group">
  				<textarea class="form-control tinymce" id="new-post-form-content" name="content"></textarea>
  				<div class="invalid-feedback"></div>
  			</div>

			<input type="hidden" name="author" value="{{user._id}}" />
  		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" form="new-post-form">Post</button>
      </div>
    </div>
  </div>
</div>

<script>crpTinyMCE()</script>
{% include "./script.njk" %}
