{% set author = crp.util.findObjectInArray(users, '_id', post.author) %}

<button type="button" class="list-group-item list-group-item-action pointer" data-toggle="collapse" data-target="#collapse{{posts.indexOf(post)}}" aria-expanded="false" aria-controls="collapse{{posts.indexOf(post)}}">
	<div class="row">
		<div class="col-6"><a href="{{post.slug}}" class="redirect" target="_blank">{{post.title}}</a></div>
		<div class="col-2"><a href="/members/{{author.nicename}}">{{author.display_name}}</a></div>
		<div class="col-3">{{crp.util.dateToStr(post.date, user.timezone)}}</div>
		<div class="col-1 text-center"><a onclick="removePost('{{post._id}}')" class="fas fa-trash-alt muted-hover"></a></div>
	</div>
</button>

<div class="collapse border p-3" id="collapse{{posts.indexOf(post)}}">
	<form class="edit-post-form" id="{{post._id}}" novalidate>
		<div class="form-group">
			<label for="{{post._id}}-title">Title</label>
			<input type="text" class="form-control edit-post-form-title" id="{{post._id}}-title" name="title" value="{{post.title}}" />
			<div class="invalid-feedback"></div>
		</div>

		<div class="form-group">
			<label for="{{post._id}}-type">Type</label>
			<select class="form-control edit-post-form-type" id="{{post._id}}-type" name="type">
				<option value="page" {% if post.type == 'page' %}selected{% endif %}>Page</option>
				<option value="news" {% if post.type == 'news' %}selected{% endif %}>News</option>
				<option value="featured_content" {% if post.type == 'featured_content' %}selected{% endif %}>Featured Content</option>
			</select>
			<div class="invalid-feedback"></div>
		</div>

		<div class="form-group">
			<label for="{{post._id}}-slug">Slug</label>
			<input type="text" class="form-control edit-post-form-slug" id="{{post._id}}-slug" name="slug" value="{{post.slug}}" />
			<div class="invalid-feedback"></div>
		</div>

		<div class="form-group">
			<label for="{{post._id}}-img">Featured Image</label>
			<input type="text" class="form-control edit-post-form-img" id="{{post._id}}-img" name="img" value="{{post.img}}" />
			<input type="file" class="form-control-file" name="upload" />
			<div class="invalid-feedback"></div>
		</div>

		<div class="form-group">
			<textarea class="form-control edit-post-form-content tinymce" id="{{post._id}}-content" name="content">{{post.content}}</textarea>
			<div class="invalid-feedback"></div>
		</div>

		<input type="hidden" name="postid" value="{{post._id}}" />
		<button type="submit" class="btn btn-success d-block ml-auto">Save</button>
	</form>
</div>
