<div class="table-row {{post._id}}" onclick="$(this).next().toggleClass('active')">
	<div class="table-data title">{{post.title}}</div>
	<div class="table-data slug">{{post.slug}}</div>
	<div class="table-data date">{{crp.util.dateToStr(post.date, user.timezone)}}</div>
</div>

<form class="post-settings-form">
	<label for="post_title">Title: </label>
	<input type="text" name="post_title" class="post_title" value="{{post.title}}" />

	<br />

	<label for="post_type">Type: </label>
	<select name="post_type" class="post_type">
		<option value="page" {% if post.type == 'page' %}selected{% endif %}>Page</option>
		<option value="news" {% if post.type == 'news' %}selected{% endif %}>News</option>
		<option value="featured_content" {% if post.type == 'featured_content' %}selected{% endif %}>Featured Content</option>
	</select>

	<br />

	<label for="post_slug">Slug: </label>
	<input type="text" name="post_slug" class="post_slug" value="{{post.slug}}" />

	<br />

	<label for="post_img">Featured Image: </label>
	<input type="text" name="post_img" class="post_img" value="{{post.img}}" />

	<br />

	<textarea name="post_content" class="post_content tinymce">{{post.content}}</textarea>

	<br />

	<input type="hidden" name="postid" class="postid" value="{{post._id}}" />

	<input type="submit" value="Save" />
	<span class="post-saved">Saved!</span>

	<div class="post-actions">
		<a onclick="postsRemove('{{post._id}}')">delete</a>
	</div>
</form>
