<script>
	$('.edit-post-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/edit-post', formData, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else {
				console.error(res);
			}
		});
	});

	$('#new-post-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/add-post', formData, (res) => {
			if (res === true) {
				$('#newPostModal').removeClass('fade');
				$('#newPostModal').modal('hide');
				crpGetPage(window.location.pathname);
			} else {
				if (res.errors) {
					if (res.errors.title) {
						$('#new-post-form-title').next('.invalid-feedback').html(res.errors.title.message);
						$('#new-post-form-title').addClass('is-invalid');
					}
					if (res.errors.type) {
						$('#new-post-form-type').next('.invalid-feedback').html(res.errors.type.message);
						$('#new-post-form-type').addClass('is-invalid');
					}
					if (res.errors.slug) {
						$('#new-post-form-slug').next('.invalid-feedback').html(res.errors.slug.message);
						$('#new-post-form-slug').addClass('is-invalid');
					}
					if (res.errors.img) {
						$('#new-post-form-img').next('.invalid-feedback').html(res.errors.img.message);
						$('#new-post-form-img').addClass('is-invalid');
					}
					if (res.errors.content) {
						$('#new-post-form-content').next('.invalid-feedback').html(res.errors.content.message);
						$('#new-post-form-content').addClass('is-invalid');
					}
				} else {
					console.error(res);
					$('#new-post-form-title').next('.invalid-feedback').html('Something went wrong :(');
					$('#new-post-form-title').addClass('is-invalid');
				}
			}
		});
	});

	$('input[name=upload]').change((e) => {
		var formData = new FormData();
		formData.append('img', e.target.files[0]);
		crpAjaxUpload('/api/admin/image-upload', formData, (res) => {
			if (typeof res == 'string') {
				$(e.target).val('');
				$(e.target).prev().val(res);
			} else {
				console.error(res);
			}
		});
	});

	function removePost(postid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/admin/remove-post', {postid: postid}, (res) => {
				if (res === true) {
					crpGetSubPage(window.location.pathname, '.admin-content', true);
				} else {
					console.error(res)
				}
			});
		}
	}
</script>
