<script>
	$('.post-settings-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/edit-post', formData, (res) => {
			if (typeof res == 'object') {
				$('.' + res._id + ' .title').html(res.title);
				$('.' + res._id + ' .slug').html(res.slug);
				$(e.target).find('.post-saved').addClass('active');

				setTimeout(() => {
					$(e.target).find('.post-saved').removeClass('active');
				}, 5000);
			} else {
				console.error(res);
			}
		});
	});

	$('.add-post').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/add-post', formData, (response) => {
			if (response) crpGetSubPage('/admin/posts', '.admin-content', true);
		});
	});

	function postsRemove(postid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/admin/remove-post', {postid: postid}, (response) => {
				if (response) crpGetSubPage('/admin/posts', '.admin-content', true);
			});
		}
	}

	function postsToggleTypeFilter(tab, type) {
		$('.posts-menu .active').removeClass('active');
		$(tab).addClass('active');

		$('.posts-content .filter.active').removeClass('active');
		$('.posts-content .filter.' + type).addClass('active');
	}
</script>
