<style>
	.posts-content .table {
		margin-left:0.0625em; /* 1/16 */
		width:100%;
	}

	.posts-content .table .table-row {
		background-color:{{css.colors.primary}};
		cursor:pointer;
		display:flex;
		justify-content:space-evenly;
		margin-bottom:0.0625em; /* 1/16 */
	}

	.posts-content .table .table-row.table-header {
		background-color:{{css.colors.header}};
		cursor:auto;
	}

	.posts-content .table .table-row:hover:not(.table-header) {
		background-color:{{css.colors.header}};
	}

	.posts-content .table .table-row .table-header-data {
		flex:1;
		padding:0.625em; /* 10/16 */
		text-align:left;
	}

	.posts-content .table .table-row .table-data {
		flex:1;
		padding:0.625em; /* 10/16 */
	}

	.posts-content .table .table-row.locked .table-data {
		color:#999;
	}

	.posts-content .table form {
		background-color:{{css.colors.primary}};
		height:0;
		overflow:hidden;
		transition:all 0.2s ease-in-out;
		visibility:hidden;
	}

	.posts-content .table form.active {
		height:32.5em; /* 520/16 */
		margin-bottom:0.0625em; /* 1/16 */
		margin-top:-0.0625em; /* 1/16 */
		padding:0.625em; /* 10/16 */
		visibility:initial;
	}

	.posts-content .table form label {
		display:inline-block;
		width:15%;
	}

	.posts-content .table form select,
	.posts-content .table form input {
		margin-bottom:0.9375em; /* 15/16 */
	}

	.posts-content .table form input[type=submit] {
		float:right;
	}

	.posts-content .table form .post-saved {
		color:#55ff55;
		display:none;
		float:right;
		padding:0.3125em 0.625em; /* 5/16 */ /* 10/16 */
	}

	.posts-content .table form .post-saved.active {
		display:initial;
	}

	.posts-content .table form .post-actions {
		display:block;
		margin-top:1em; /* 16/16 */
	}

	.posts-content .table form .post-actions a:nth-child(2) {
		border-left:0.0625em solid #999; /* 1/16 */
		padding-left:0.25em; /* 4/16 */
	}

	.posts-content .table form .post-actions a {
		cursor:pointer;
	}

	.posts-content .table form .post-actions a:hover {
		text-decoration:underline;
	}

	.add-post {
		border:0.0625em solid #585858; /* 1/16 */
		margin:0.9375em 1.875em 1.875em 1.875em; /* 15/16 */ /* 30/16 */ /* 30/16 */ /* 30/16 */
		padding:1.5625em; /* 25/16 */
	}

	.add-post legend {
		background-color:{{css.colors.primary}};
		padding:0.3125em; /* 5/16 */
	}

	.add-post form label {
		display:inline-block;
		width:15%;
	}

	.add-post form input,
	.add-post form textarea {
		margin-bottom:0.9375em; /* 15/16 */
	}

	.add-post form input[type=submit] {
		float:right;
	}
</style>
