<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
	$('.add-chapter .types input').change((e) => {
		if (e.target.checked) {
			switch (e.target.value) {
				case 'hosted':
					$('.add-chapter .cms').removeClass('disabled');
					$('.add-chapter .nav .next').removeClass('disabled');
					multistepNext($('.add-chapter .nav .next'));
					$('.add-chapter .header').html('type › hosted');
					break;
				case 'group':
					$('.add-chapter .group.details').removeClass('disabled');
					$('.add-chapter .nav .next').removeClass('disabled');
					multistepNext($('.add-chapter .nav .next'));
					$('.add-chapter .header').html('type › group');
					break;
				default:
					console.log(e.target.value);
			};
		}
	});

	$('.add-chapter .details input[name=name]').on('keyup', (e) => {
		crpMirror(e.target, '.add-chapter .details input[name=name]');
	});

	$('.add-chapter .details input[name=game]').on('keyup', (e) => {
		crpMirror(e.target, '.add-chapter .details input[name=game]');
	});

	$('.add-chapter .details input[name=desc]').on('keyup', (e) => {
		crpMirror(e.target, '.add-chapter .details input[name=tagline]');
	});

	$('.add-chapter .details input[name=discord]').on('keyup', (e) => {
		crpMirror(e.target, '.add-chapter .details input[name=discord]');
	});

	$('.add-chapter .nav .previous').click((e) => {
		multistepPrev(e.target);
		if ($(e.target).hasClass('disabled')) $('.add-chapter .step:not(.types, .captcha)').addClass('disabled');
	});

	$('.add-chapter').submit((e) => {
		e.preventDefault();
		$('.add-chapter .error').removeClass('active');

		var formData = $(e.target).find('.step:not(.disabled) input, .step:not(.disabled) select, .step:not(.disabled) textarea').serialize();
		crpAjax('/api/add-chapter', formData, (res) => {
			if (res._id) {
				if (res.type == 'group' || res.type == 'page') return crpGetPage('/chapters/' + res.slug);

				window.location = `//${res.slug}.${window.location.hostname}`;
			} else {
				switch (res) {
					case 'noCaptcha':
						$('.add-chapter .error').addClass('active').html('Please click the captcha first.');
						break;
					case 'nameTaken':
						$('.add-chapter .error').addClass('active').html('That Chapter name is taken!');
						break;
					case 'noGame':
						$('.add-chapter .error').addClass('active').html('You need to select a game!');
						break;
					case 'noType':
						$('.add-chapter .error').addClass('active').html('You need to pick a type!');
						break;
					case 'noName':
						$('.add-chapter .error').addClass('active').html('Your Chapter needs a name.');
						break;
					case 'badDomain':
						$('.add-chapter .error').addClass('active').html('That Chapter name is not allowed.');
						break;
					case 'badTagline':
						$('.add-chapter .error').addClass('active').html('Your Chapter\'s tagline cannot be more than 140 characters.');
						break;
					default:
						console.log(res);
						$('.add-chapter .error').addClass('active').html('Something went wrong :(');
				}
			}
		});
	});
</script>
