<script>
$('.new-chapter-form').submit((e) => {
	e.preventDefault();

	$(e.target).find(':input').each((i, e) => {
		$(e).removeClass('is-invalid');
	});

	var formData = $(e.target).serialize();
	crpAjax('/api/add-chapter', formData, (res) => {
		if (res._id) {
			if (res.type == 'group' || res.type == 'page') return crpGetPage('/chapters/' + res.slug);
			crpGetPage('/chapters');
		} else if (res.errors) {
			if (res.errors.game) {
				$(e.target).find('.new-chapter-form-game').next('.invalid-feedback').html(res.errors.game.message);
				$(e.target).find('.new-chapter-form-game').addClass('is-invalid');
			}
			if (res.errors.name) {
				$(e.target).find('.new-chapter-form-name').next('.invalid-feedback').html(res.errors.name.message);
				$(e.target).find('.new-chapter-form-name').addClass('is-invalid');
			}
			if (res.errors.slug) {
				$(e.target).find('.new-chapter-form-slug').next('.invalid-feedback').html(res.errors.slug.message);
				$(e.target).find('.new-chapter-form-slug').addClass('is-invalid');
			}
			if (res.errors.tagline) {
				$(e.target).find('.new-chapter-form-tagline').next('.invalid-feedback').html(res.errors.tagline.message);
				$(e.target).find('.new-chapter-form-tagline').addClass('is-invalid');
			}
			if (res.errors.discord) {
				$(e.target).find('.new-chapter-form-discord').next('.invalid-feedback').html(res.errors.discord.message);
				$(e.target).find('.new-chapter-form-discord').addClass('is-invalid');
			}
		} else {
			console.error(res);
			$(e.target).find('.new-chapter-form-captcha').next('.invalid-feedback').html('Something went wrong :(');
			$(e.target).find('.new-chapter-form-captcha').addClass('is-invalid');
		}
	});
});
</script>
