<style>
	.add-chapter .option label h1 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1.0625em; /* 17/16 */
	}

	.add-chapter .standard-form {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}

	.add-chapter .standard-form label,
	.add-chapter .standard-form .standard-input {
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		margin:0 0 0.0625em 0; /* 1/16 */
	}

	.add-chapter .standard-form label {
		border-right:0.0625em solid {{css.colors.bg}}; /* 1/16 */
	}

	.add-chapter .standard-form .captcha {
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
	}

	.add-chapter .types input[type=radio] {
		display:none;
	}

	.add-chapter .types .option label {
		display:block;
		background-color:{{css.colors.primary}};
		margin-bottom:0.0625em; /* 1/16 */
		padding:0.9375em; /* 15/16 */
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	.add-chapter .types .option:not(.disabled) label:hover {
		background-color:{{css.colors.header}};
	}

	.add-chapter .types .option label h1 {
		margin-left:0.9375em; /* 15/16 */
	}

	.add-chapter .types .option label span {
		color:#BCBCBC;
		display:block;
		font-size:0.8125em; /* 13/16 */
		margin:0.7692307692307693em 0 0.7692307692307693em 2.3076923076923075em; /* 10/13 */ /* 10/13 */ /* 30/13 */
	}

	.add-chapter .option.disabled label h1 {
		color:#888;
	}

	.add-chapter .types .option.disabled label span {
		color:#666;
	}
</style>
