{% extends "./layout.njk" %}

{% block body %}
	{% include "./style.njk" %}

	{% include "./components/navigation/index.njk" %}

	<div class="content-main">
		{% include "./pages" + path ignore missing %}
	</div>

	{% include "./components/footer/index.njk" %}
{% endblock %}
