{% extends "./layout.njk" %}

{% block body %}
	{% include "./style.njk" %}

	{% include "./components/navigation/index.njk" %}

	<main role="main">
		{% include "./pages" + path ignore missing %}
	</main>

	{% include "./components/footer/index.njk" %}
{% endblock %}
