<!DOCTYPE html>
<html>
	<head>
		<title>{{crp.global.site.name}} - {{crp.global.site.tagline}}</title>
		<link rel="icon" href="/img/ico.png" type="image/png">

		<script src="/js/nunjucks.js"></script>
		<script src="/js/tinymce/tinymce.min.js"></script>
     	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>

		{% include "./script.njk" %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{{crp.browserRefresh}}"></script>
	</body>
</html>
