<!DOCTYPE html>
<html>
	<head>
		{% lookup 'site', {}, 'site' %}
		<title>{{site.name}} - {{site.tagline}}</title>
		<link rel="icon" href="{{crp.storage.getUrl(css.img.ico)}}" type="image/png" />

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic" />

		<script src="{{crp.storage.getUrl('js/nunjucks.js')}}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=svooaoz4zwhcrvxd7oq18wow2eoi89aw4tkf261mtlgg2zrz"></script>

		{% include "./script.njk" %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{{crp.browserRefresh}}"></script>
	</body>
</html>
