<script>
	function crpAjax(url, data, successCallback) {
		$.ajax({
			url: url,
			method: 'POST',
			xhrFields: {withCredentials: true},
			data: data,
			success: successCallback,
			error: (jqXHR, status, error) => {
				console.error(status + ': ' + error);
			}
		});
	}

	function crpAjaxUpload(url, data, successCallback) {
		$.ajax({
			url: url,
			method: 'POST',
			xhrFields: {withCredentials: true},
			data: data,
			processData: false,
			contentType: false,
			success: successCallback,
			error: (jqXHR, status, error) => {
				console.error(status + ': ' + error);
			}
		});
	}

	function crpGetPage(page) {
		$('.content-blackout').addClass('active');
		crpAjax('/api/get-page', {page: page}, (res) => {
			$('.content').html(res);
			$('.content-blackout').removeClass('active');

			window.history.pushState({page: page}, page + ' - The Chronicles RP', page);
		});
	}

	function crpGetSubPage(page, container, newUrl) {
		crpAjax('/api/get-subpage', {page: page}, (res) => {
			$(container).html(res);
			if (newUrl) window.history.pushState({page: page}, page + ' - The Chronicles RP', page);
		});
	}

	function crpTinyMCE() {
		tinymce.init({
			selector: '.tinymce',
			plugins: 'textcolor colorpicker help link paste code hr table',
			forced_root_blocks: false,
			menubar: false,
			toolbar: [
				'undo | redo | paste | formatselect | fontselect | fontsizeselect | forecolor',
				'bold | italic | underline | strikethrough | hr | blockquote | table | alignleft | aligncenter | alignright | alignjustify | bullist | numlist | outdent | indent | superscript | subscript | link | removeformat | code | help'
			]
		});
	}

	function crpActivateUser(code) {
		crpAjax('/api/activate', {code: code}, (res) => {
			if (typeof res == 'object') {
				location.reload();
			} else {
				console.error(res)
			}
		});
	}

	function crpScrollTo(selector) {
		$('html, body').animate({
	        scrollTop: $(selector).offset().top
	    }, 250);
	}

	window.onpopstate = (e) => {
		if (e.state) {
			var page = e.state.page;

			crpGetPage(page);
		}
	};
</script>
