<script>
	function crpAjax(url, data, successCallback) {
		$.ajax({
			url: url,
			method: 'POST',
			xhrFields: {withCredentials: true},
			data: data,
			success: successCallback,
			error: (jqXHR, status, error) => {
				console.error(status + ': ' + error);
			}
		});
	}

	function crpAjaxUpload(url, data, successCallback) {
		$.ajax({
			url: url,
			method: 'POST',
			xhrFields: {withCredentials: true},
			data: data,
			processData: false,
			contentType: false,
			success: successCallback,
			error: (jqXHR, status, error) => {
				console.error(status + ': ' + error);
			}
		});
	}

	function crpGetPage(page) {
		$('#navbarNavDropdown').collapse('hide');
		$('.content-blackout').addClass('active');
		crpAjax('/api/get-page', {page: page}, (res) => {
			$('main').html(res);
			$('.content-blackout').removeClass('active');

			window.history.pushState({page: page}, page + ' - The Chronicles RP', page);
		});
	}

	function crpGetSubPage(page, container, newUrl) {
		crpAjax('/api/get-subpage', {page: page}, (res) => {
			$(container).html(res);
			if (newUrl) window.history.pushState({page: page}, page + ' - The Chronicles RP', page);
		});
	}

	function crpTinyMCE() {
		tinymce.remove();
		setTimeout(() => {
			tinymce.init({
				selector: '.tinymce',
				plugins: 'textcolor colorpicker help link paste code hr table',
				forced_root_blocks: false,
				menubar: false,
				toolbar: [
					'undo | redo | paste | formatselect | fontselect | fontsizeselect | forecolor',
					'bold | italic | underline | strikethrough | hr | blockquote | table | alignleft | aligncenter | alignright | alignjustify | bullist | numlist | outdent | indent | superscript | subscript | link | removeformat | code | help'
				]
			});
		}, 0);
	}

	function crpActivateUser(code) {
		crpAjax('/api/activate', {code: code}, (res) => {
			if (typeof res == 'object') {
				location.reload();
			} else {
				console.error(res)
			}
		});
	}

	function crpScrollTo(selector) {
		$('html, body').animate({
	        scrollTop: $(selector).offset().top
	    }, 250);
	}

	function crpMirror(e, selector) {
		$(selector).val($(e).val());
	}

	function usersParseRole(role) {
		switch (role) {
			case 0:
				return 'Pending';
				break;
			case 1:
				return 'Member';
				break;
			case 2:
				return 'Chapter Leader';
				break;
			case 3:
				return 'Administrator';
				break;
			default:
				return 'Guest';
		}
	}

	function multistepPrev(e) {
		if ($(e).hasClass('disabled')) return;

		var prev = $(e).parents('.multistep').find('.step.active').prevAll('.step:not(.disabled)').first();
		if (prev.length > 0) {
			$(e).parents('.multistep').find('.step.active').removeClass('active');
			prev.addClass('active');
			$(e).next('.next').removeClass('disabled');

			if (prev.prevAll('.step:not(.disabled)').first().length == 0) $(e).addClass('disabled');
			$(e).next('.next').removeClass('hidden');
			$(e).next('.next').next('.submit').addClass('hidden');
		}
	}

	function multistepNext(e) {
		if ($(e).hasClass('disabled')) return;

		var next = $(e).parents('.multistep').find('.step.active').nextAll('.step:not(.disabled)').first();
		if (next.length > 0) {
			$(e).parents('.multistep').find('.step.active').removeClass('active');
			next.addClass('active');
			$(e).prev('.previous').removeClass('disabled');

			if (next.nextAll('.step:not(.disabled)').first().length == 0) $(e).addClass('disabled');
			if (next.hasClass('final')) {
				$(e).addClass('hidden');
				$(e).next('.submit').removeClass('hidden');
			}
		}
	}

	function labelClick(e) {
		var input = $(e).siblings('input[name=' + $(e).prop('for') + ']');
		if (input.prop('disabled')) return;

		input.prop('checked', 'checked');
		input.change();
	}

	$(() => {
		window.onpopstate = (e) => {
			if (e.state) {
				var page = e.state.page;

				crpGetPage(page);
			}
		};

		$(document).on('click', 'a', (e) => {
			var target = $(e.target).closest('a');
			if (target.hasClass('redirect') || !target.prop('href') || target.prop('href').includes('#') || !target.prop('href').startsWith(`${window.location.protocol}//${window.location.hostname}`)) return true;

			var href = target.prop('href').replace(`${window.location.protocol}//${window.location.hostname}`, '');
			if (target.attr('container')) {
				crpGetSubPage(
					href,
					target.attr('container'),
					target.attr('newurl')
				);

				return false;
			}

			crpGetPage(href);
			return false;
		});

		var requirements = [
			'cookies',
			'inputtypes',
			'cssanimations',
			'borderradius',
			'csscalc',
			'checked',
			'displaytable',
			'flexbox',
			'cssgradients',
			'lastchild',
			'nthchild',
			'opacity',
			'rgba',
			'csstransforms',
			'csstransitions',
			'cssvmaxunit',
			'cssvminunit',
			'oninput',
			'fileinput',
			'xhrresponsetype',
			'xhr2'
		];

		for (var i in requirements) {
			if (!Modernizr[requirements[i]]) {
				window.alert(`Your browser doesn't support ${requirements[i]}. Some parts of this site may not behave as expected.`);
				break;
			}
		}
	});
</script>
