<script>
	function crpAjax(url, data, successCallback) {
		$.ajax({
			url: url,
			method: 'POST',
			xhrFields: {withCredentials: true},
			data: data,
			success: successCallback,
			error: (jqXHR, status, error) => {
				console.error(status + ': ' + error);
			}
		});
	}

	function crpAjaxUpload(url, data, successCallback) {
		$.ajax({
			url: url,
			method: 'POST',
			xhrFields: {withCredentials: true},
			data: data,
			processData: false,
			contentType: false,
			success: successCallback,
			error: (jqXHR, status, error) => {
				console.error(status + ': ' + error);
			}
		});
	}

	function crpGetPage(page) {
		$('#navbarNavDropdown').collapse('hide');
		$('.content-blackout').addClass('active');
		$('.navbar .dropdown-toggle').each((i, e) => {
			$(e).dropdown('hide');
		});

		var query = page.split('?')[1];
		query = query ? `?${query}` : '';
		crpAjax('/api/get-page' + query, {page: page}, (res) => {
			$('main').html(res.page);
			$('#navbar').html(res.nav);
			window.scrollTo({top: 0});
			$('.content-blackout').removeClass('active');

			window.history.pushState({page: page}, page + ' - The Chronicles RP', page);
		});
	}

	function crpGetSubPage(page, container, newUrl) {
		var query = page.split('?')[1];
		query = query ? `?${query}` : '';
		crpAjax('/api/get-subpage' + query, {page: page}, (res) => {
			$(container).html(res);
			if (newUrl) window.history.pushState({page: page}, page + ' - The Chronicles RP', page);
		});
	}

	function crpTinyMCE() {
		tinymce.remove();
		setTimeout(() => {
			tinymce.init({
				selector: '.tinymce',
				plugins: 'textcolor colorpicker help link paste code hr table',
				forced_root_blocks: false,
				menubar: false,
				toolbar: [
					'undo | redo | paste | formatselect | fontselect | fontsizeselect | forecolor',
					'bold | italic | underline | strikethrough | hr | blockquote | table | alignleft | aligncenter | alignright | alignjustify | bullist | numlist | outdent | indent | superscript | subscript | link | removeformat | code | help'
				]
			});
		}, 0);
	}

	function crpPickr(defaultColor = '#53377F') {
		return Pickr.create({
			el: '.pickr',
			theme: 'nano',
			lockOpacity: true,
			default: defaultColor,
			swatches: null,
			components: {
				preview: true,
				opacity: false,
				hue: true,
				interaction: {
					hex: true,
					rgba: false,
					hsla: false,
					hsva: false,
					cmyk: false,
					input: true,
					clear: true,
					save: true
		        }
			}
		});
	}

	function crpScrollTo(selector) {
		$('html, body').animate({
	        scrollTop: $(selector).offset().top
	    }, 250);
	}

	function crpMirror(e, selector) {
		$(selector).val($(e).val());
	}

	$(() => {
		$('[data-toggle="popover"]').popover();
		$('[data-toggle="tooltip"]').tooltip();

		window.onpopstate = (e) => {
			if (e.state) {
				var page = e.state.page;

				crpGetPage(page);
			}
		};

		$(document).on('click', 'a', (e) => {
			var target = $(e.target).closest('a');
			if (target.hasClass('redirect') || !target.prop('href') || target.prop('href').includes('#') || !target.prop('href').startsWith(`${window.location.protocol}//${window.location.hostname}`)) return true;

			var href = target.prop('href').replace(`${window.location.protocol}//${window.location.hostname}`, '');
			if (target.attr('container')) {
				crpGetSubPage(href, target.attr('container'), target.attr('newurl'));

				return false;
			}

			crpGetPage(href);
			return false;
		});

		var requirements = [
			'cookies',
			'inputtypes',
			'cssanimations',
			'borderradius',
			'csscalc',
			'checked',
			'displaytable',
			'flexbox',
			'cssgradients',
			'lastchild',
			'nthchild',
			'opacity',
			'rgba',
			'csstransforms',
			'csstransitions',
			'cssvmaxunit',
			'cssvminunit',
			'oninput',
			'fileinput',
			'xhrresponsetype',
			'xhr2'
		];

		for (var i in requirements) {
			if (!Modernizr[requirements[i]]) {
				window.alert(`Your browser doesn't support ${requirements[i]}. Some parts of this site may not behave as expected.`);
				break;
			}
		}
	});
</script>
