<style>
	body {
		padding-top:3.5rem;
		position:relative;
		min-height:100vh;
	}

	main {
		font-family:Droid Serif, Georgia, serif;
		padding-bottom:100px;
	}

	a, a:hover {
		color:#53377F;
	}

	.content-blackout {
		background-color:rgba(0, 0, 0, 0);
		height:100%;
		position:fixed;
		top:0;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
		visibility:hidden;
		width:100%;
		z-index:2000;
	}

	.content-blackout.active {
		background-color:rgba(0, 0, 0, 0.5);
		visibility:visible;
	}

	.content-blackout .spinner-border {
		height:2.5rem;
		width:2.5rem;
	}

	.bg-primary, .badge-primary {
		background-color:#53377F !important;
	}

	.font-family-montserrat {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif !important;
	}

	.container {
		max-width:1800px !important;
	}

	.card-img-container {
		height:250px;
	}

	.card-img-container img {
		height:100%;
		object-fit:cover;
	}

	.nav-vertical-tabs {
		border-bottom:none;
		border-left:1px solid #dee2e6;
	}

	.nav-vertical-tabs .nav-link.active,
	.nav-vertical-tabs .nav-link:hover {
		border-bottom:1px solid #dee2e6;
		border-left:none;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		border-top-right-radius:.25rem;
		border-bottom-right-radius:.25rem;
	}

	.noselect {
		-webkit-user-select:none !important;
		-moz-user-select:none !important;
		-ms-user-select:none !important;
		user-select:none !important;
	}

	.pointer {
		cursor:pointer !important;
	}
</style>
