<style>
	a, a:hover {
		color:#53377F;
	}
	.content-main {
		min-height:200px;
	}

	.bg-primary {
		background-color:#53377F !important;
	}

	.noselect {
		-webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}

	.pointer {
		cursor:pointer;
	}
</style>
