{% include "./style.njk" %}

<div class="users-menu">
	<button class="filter all active" onclick="usersToggleRoleFilter(this, 'all')">All ({{crp.global.users.length}})</button>

	{% if crp.util.roleHasUsers('administrator') %}
		<button class="filter administrator" onclick="usersToggleRoleFilter(this, 'administrator')">Administrators ({{crp.util.getUsersByRole('administrator').length}})</button>
	{% endif %}

	{% if crp.util.roleHasUsers('chapter_leader') %}
		<button class="filter chapter-leader" onclick="usersToggleRoleFilter(this, 'chapter-leader')">Chapter Leaders ({{crp.util.getUsersByRole('chapter_leader').length}})</button>
	{% endif %}

	{% if crp.util.roleHasUsers('member') %}
		<button class="filter member" onclick="usersToggleRoleFilter(this, 'member')">Members ({{crp.util.getUsersByRole('member').length}})</button>
	{% endif %}

	{% if crp.util.roleHasUsers('pending') %}
		<button class="filter pending" onclick="usersToggleRoleFilter(this, 'pending')">Pending ({{crp.util.getUsersByRole('pending').length}})</button>
	{% endif %}
</div>

<div class="users-content">
	<div class="table">
		<div class="table-row table-header">
			<div class="table-header-data">Username</div>
			<div class="table-header-data">Email</div>
			<div class="table-header-data">Role</div>
		</div>
		<div class="filter all active">
			{% for user in crp.util.getUsersByRole('*') %}
				{% include "./loop.njk" %}
			{% endfor %}
		</div>
		<div class="filter administrator">
			{% for user in crp.util.getUsersByRole('administrator') %}
				{% include "./loop.njk" %}
			{% endfor %}
		</div>
		<div class="filter chapter-leader">
			{% for user in crp.util.getUsersByRole('chapter_leader') %}
				{% include "./loop.njk" %}
			{% endfor %}
		</div>
		<div class="filter member">
			{% for user in crp.util.getUsersByRole('member') %}
				{% include "./loop.njk" %}
			{% endfor %}
		</div>
		<div class="filter pending">
			{% for user in crp.util.getUsersByRole('pending') %}
				{% include "./loop.njk" %}
			{% endfor %}
		</div>
	</div>
</div>

<fieldset class="add-user">
	<legend>Add a New User</legend>
	<form>
		<label for="user_login">Username: </label>
		<input type="text" name="user_login" class="user_login" autocomplete="off" />
		<br />
		<label for="user_email">Email: </label>
		<input type="text" name="user_email" class="user_email" autocomplete="off" />
		<br />
		<label for="user_pass">Password: </label>
		<input type="password" name="user_pass" class="user_pass" autocomplete="off" />
		<input type="checkbox" name="encrypted" class="encrypted" autocomplete="off" />
		<label for="encrypted">Encrypted</label>
		<br />
		<label for="register_date">Registration Date: </label>
		<input type="text" name="register_date" class="register_date" autocomplete="off" />

		<input type="submit" value="Add User" />
	</form>
</fieldset>

{% include "./script.njk" %}
