{% include "./style.njk" %}
{% query 'users', {}, {sort: [['login', 1]]}, 'users' %}

{% set administrators = crp.util.filterObjectArray(users, {role: 3}) %}
{% set chapterLeaders = crp.util.filterObjectArray(users, {role: 2}) %}
{% set members = crp.util.filterObjectArray(users, {role: 1}) %}
{% set pendings = crp.util.filterObjectArray(users, {role: 0}) %}

<ul class="users-menu noselect">
	<li class="filter all active" onclick="usersToggleRoleFilter(this, 'all')">All ({{users.length}})</li>

	{% if administrators.length > 0 %}
		<li class="filter administrator" onclick="usersToggleRoleFilter(this, 'administrator')">Administrators ({{administrators.length}})</li>
	{% endif %}

	{% if chapterLeaders.length > 0 %}
		<li class="filter chapter-leader" onclick="usersToggleRoleFilter(this, 'chapter-leader')">Chapter Leaders ({{chapterLeaders.length}})</li>
	{% endif %}

	{% if members.length > 0 %}
		<li class="filter member" onclick="usersToggleRoleFilter(this, 'member')">Members ({{members.length}})</li>
	{% endif %}

	{% if pendings.length > 0 %}
		<li class="filter pending" onclick="usersToggleRoleFilter(this, 'pending')">Pending ({{pendings.length}})</li>
	{% endif %}
</ul>

<div class="users-content">
	<ul class="header">
		<li>Username</li>
		<li>Email</li>
		<li>Role</li>
	</ul>

	<div class="filter all active">
		{% for user in users %}
			{% include "./loop.njk" %}
		{% endfor %}
	</div>
	<div class="filter administrator">
		{% for user in administrators %}
			{% include "./loop.njk" %}
		{% endfor %}
	</div>
	<div class="filter chapter-leader">
		{% for user in chapterLeaders %}
			{% include "./loop.njk" %}
		{% endfor %}
	</div>
	<div class="filter member">
		{% for user in members %}
			{% include "./loop.njk" %}
		{% endfor %}
	</div>
	<div class="filter pending">
		{% for user in pendings %}
			{% include "./loop.njk" %}
		{% endfor %}
	</div>

	<fieldset class="new-post">
		<legend>Add a New User</legend>
		<form class="add-user">
			<label for="user_login">Username: </label>
			<input type="text" name="user_login" class="user_login" autocomplete="off" />
			<br />
			<label for="user_email">Email: </label>
			<input type="text" name="user_email" class="user_email" autocomplete="off" />
			<br />
			<label for="user_pass">Password: </label>
			<input type="password" name="user_pass" class="user_pass" autocomplete="off" />
			<input type="checkbox" name="encrypted" class="encrypted" autocomplete="off" />
			<label for="encrypted">Encrypted</label>
			<br />
			<label for="register_date">Registration Date: </label>
			<input type="text" name="register_date" class="register_date" autocomplete="off" />

			<input type="submit" value="Add User" />
		</form>
	</fieldset>
</div>

{% include "./script.njk" %}
