<ul class="{{user._id}} {% if user.locked %}locked{% endif %} noselect" onclick="$(this).next().toggleClass('active')">
	<li class="login">{{user.login}}</li>
	<li class="email">{{user.email}}</li>
	<li class="role">{{crp.util.parseRole(user.role)}}</li>
</ul>

<form class="user-settings-form">
	<label for="user_login">Username: </label>
	<input type="text" name="user_login" class="user_login" value="{{user.login}}" />

	<input type="checkbox" name="user_locked" class="user_locked" {% if user.locked %}checked{% endif %} />
	<span> Locked</span>

	<br />

	<label for="display_name">Display Name: </label>
	<input type="text" name="display_name" class="display_name" value="{{user.display_name}}" />

	<br />

	<label for="user_email">Email: </label>
	<input type="text" name="user_email" class="user_email" value="{{user.email}}" />

	<br />

	<label for="user_role">Role: </label>
	<select name="user_role" class="user_role">
		<option value="0" {% if user.role == 0 %}selected{% endif %}>Pending</option>
		<option value="1" {% if user.role == 1 %}selected{% endif %}>Member</option>
		<option value="2" {% if user.role == 2 %}selected{% endif %}>Chapter Leader</option>
		<option value="3" {% if user.role == 3 %}selected{% endif %}>Administrator</option>
	</select>

	<br />

	<input type="hidden" name="user_id" class="user_id" value="{{user._id}}" />

	<div class="actions">
		<a onclick="usersRemove('{{user._id}}')">delete</a>
	</div>

	<div class="submit">
		<span class="user-saved">Saved!</span>
		<input type="submit" value="Save" />
	</div>
</form>
