<script>
	$('.user-settings-form').submit((e) => {
		e.preventDefault();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/edit-user', formData, (res) => {
			if (res) {
				$('.' + res._id).removeClass('locked');
				$('.' + res._id).next().find('.user_locked').prop('checked', false);
				if (res.locked) {
					$('.' + res._id).addClass('locked');
					$('.' + res._id).next().find('.user_locked').prop('checked', true);
				}

				$('.' + res._id).next().find('.user_login').val(res.login);
				$('.' + res._id).next().find('.user_login').val(res.login);
				$('.' + res._id).next().find('.display_name').val(res.display_name);
				$('.' + res._id).next().find('.user_email').val(res.email);
				$('.' + res._id).next().find('.user_role').val(res.role);

				$('.' + res._id + ' .login').html(res.login);
				$('.' + res._id + ' .email').html(res.email);
				$('.' + res._id + ' .role').html(res.role);
				$(e.target).find('.user-saved').addClass('active');

				setTimeout(() => {
					$(e.target).find('.user-saved').removeClass('active');
				}, 5000);
			}
		});
	});

	function usersRemove(userid) {
		crpAjax('/api/admin/remove-user', {userid: userid}, (res) => {
			if (typeof res != 'object') return console.error(res);

			crpGetSubPage('/admin/users', '.admin-content', true);
		});
	}

	function usersToggleRoleFilter(tab, role) {
		$('.users-menu .active').removeClass('active');
		$(tab).addClass('active');

		$('.users-content .table .active').removeClass('active');
		$('.users-content .table .' + role).addClass('active');
	}

	$('.add-user form').submit((e) => {
		e.preventDefault();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/add-user', formData, (res) => {
			if (typeof res != 'object') return console.error(res);

			crpGetSubPage('/admin/users', '.admin-content', true);
		});
	});
</script>
