<style>
	.users-menu {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}

	.users-menu li {
		background-color:{{css.colors.primary}};
		font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif;
		list-style-type:none;
		padding:0.375em 1.25em; /* 6/16 */ /* 20/16 */
		margin-left:0.0625em; /* 1/16 */
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	.users-menu li.active {
		background-color:{{css.colors.header}};
	}

	.users-menu li:hover {
		background-color:{{css.colors.header}};
		cursor:pointer;
	}

	.users-content {
		margin-left:0.0625em; /* 1/16 */
	}

	.users-content .filter {
		display:none;
	}

	.users-content .filter.active {
		display:initial;
	}

	.users-content ul {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:space-evenly;
		-ms-flex-pack:space-evenly;
		justify-content:space-evenly;
	}

	.users-content ul li {
		background-color:{{css.colors.primary}};
		-webkit-box-flex:1;
		-ms-flex:1;
		flex:1;
		list-style-type:none;
		margin-top:0.0625em; /* 1/16 */
		padding:0.625em; /* 10/16 */
	}

	.users-content ul.locked li {
		color:#888;
	}

	.users-content ul.header li {
		background-color:{{css.colors.header}};
		margin-top:0;
	}

	.users-content ul:not(.header):hover li {
		background-color:{{css.colors.header}};
		cursor:pointer;
	}

	.users-content form:not(.add-user) {
		background-color:{{css.colors.primary}};
		display:none;
	}

	.users-content form:not(.add-user).active {
		padding:0.625em; /* 10/16 */
		display:block;
	}

	.users-content form input,
	.users-content form select {
		display:inline-block;
		margin-bottom:0.5em; /* 8/16 */
		width:auto;
	}

	.users-content form .submit {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		margin-top:0.5em; /* 8/16 */
	}

	.users-content form .submit span {
		color:#55ff55;
		display:none;
		padding:0.375em 0.625em; /* 6/16 */ /* 10/16 */
	}

	.users-content form .submit span.active {
		display:initial;
	}

	.users-content form .actions {
		float:left;
		margin-top:0.9375em; /* 15/16 */
	}

	.new-post {
		margin:1.875em; /* 30/16 */
	}
</style>
