{% lookup 'forums', {_id: forumid}, 'forum' %}
{% lookup 'categories', {_id: forum.category}, 'category' %}
{% lookup 'chapters', {_id: category.chapter}, 'chapter' %}
{% query 'topics', {parent: forum._id}, {sort: [['type', -1], ['date', -1]]}, 'topics' %}

<div class="container mt-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/forums">Index</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{forum.name}}</li>
		</ol>
	</nav>

	<div class="row">
		{% set member = crp.chapters.getMember(chapter, user._id) %}
		{% if (not chapter or (member and member.role >= 1)) and not category.role or user.role >= category.role %}
			{% if topics[0] %}
				<div class="col-lg-9">
					<div class="container shadow-sm">
						<div class="row bg-primary text-light border-bottom border-secondary p-2">
							<div class="col-lg-8">{{forum.name}}</div>
							<div class="col-lg-2 text-center d-none d-lg-block">Replies</div>
							<div class="col-lg-2 text-center d-none d-lg-block">Most Recent</div>
						</div>

						{% for topic in topics %}
							{% lookup 'users', {_id: topic.author}, 'author' %}
							{% query 'replies', {parent: topic._id}, {sort: [['date', -1]]}, 'replies' %}

							<div class="row bg-white p-2">
								<div class="col-lg-8">
									<a href="/forums/{{forum.slug}}/{{topic._id}}">{{topic.title}}</a>
									{% if topic.type == 'sticky' %}
										<span class="badge badge-warning">Sticky</span>
									{% endif %}
									{% if crp.moment().diff(crp.moment(topic.date), 'days') < 3 %}
										<span class="badge badge-primary">New</span>
									{% endif %}
									<p class="m-0">Started By: <a href="/members/{{author.nicename}}">{{author.display_name}}</a></p>
								</div>
								<div class="col-lg-2 text-center d-none d-lg-block">{{replies.length}}</div>
								<div class="col-lg-2 text-lg-center ml-3 ml-lg-0">
									{% if replies[0] %}
										{% lookup 'users', {_id: replies[0].author}, 'author' %}

										<a href="/members/{{author.nicename}}">{{author.display_name}}</a>
										<br />
										{{crp.moment(replies[0].date).fromNow()}}
									{% else %}
										No Replies
									{% endif %}
								</div>
							</div>
							{% if not loop.last %}<hr class="m-0" />{% endif %}
						{% endfor %}
					</div>
				</div>
			{% else %}
				<div class="col-lg-9">
					<div class="alert alert-warning" role="alert">This forum has no topics.</div>
				</div>
			{% endif %}
		{% else %}
			<div class="col-lg-9">
				<div class="alert alert-warning" role="alert">You're not allowed to view this forum.</div>
			</div>
		{% endif %}

		<div class="col-lg-3 d-none d-lg-block">
			{% include "components/sidebar/index.njk" %}
		</div>
	</div>
</div>
