<div class="page">
	<ul class="forum">
		{% include "./style.njk" %}

		{% lookup 'users', {_id: userid}, 'user' %}
		{% lookup 'forums', {_id: forumid}, 'forum' %}
		{% lookup 'categories', {_id: forum.category}, 'category' %}
		{% lookup 'chapters', {_id: category.chapter}, 'chapter' %}
		{% query 'topics', {parent: forum._id}, {sort: [['date', -1]]}, 'topics' %}

		<p class="breadcrumbs">
			<a href="/">Home</a>
			<span>›</span>
			<a href="/forums">Index</a>
			<span>›</span>
			<span>{{forum.name}}</span>
		</p>

		{% set member = crp.chapters.getMember(chapter, user._id) %}
		{% if (not chapter or (member and member.role >= 1)) and not category.role or category.role == user.role or user.role >= 3 %}
			{% if topics.length != 0 %}
				<li class="header">
					<ul>
						<li>Topic</li>
						<li>Replies</li>
						<li>Most Recent</li>
					</ul>
				</li>

				{% for topic in topics %}
					{% lookup 'users', {_id: topic.author}, 'author' %}
					{% query 'replies', {parent: topic._id}, {sort: [['date', -1]]}, 'replies' %}
					<li class="topic">
						<ul>
							<li>
								<a class="topic-name" href="/forums/{{forum.slug}}/{{topic._id}}">{{topic.title}}</a>
								<div class="topic-author">
									Started By: <a href="/members/{{author.nicename}}">{{author.display_name}}</a>
								</div>
							</li>
							<li>{{replies.length}}</li>
							<li>
								{% if replies[0] %}
									{% lookup 'users', {_id: replies[0].author}, 'author' %}
									<a href="/members/{{author.nicename}}">{{author.display_name}}</a>
									<br />
									{{crp.moment(replies[0].date).fromNow()}}
								{% else %}
									No Replies
								{% endif %}
							</li>
						</ul>
					</li>
				{% endfor %}
			{% else %}
				<div class="warning">This forum has no topics.</div>
			{% endif %}

			{% if user and user.role >= 1 %}
				<fieldset class="new-post">
					<legend>Create New Topic in {{forum.name}}</legend>
					<form>
						<label for="title">Topic Title (Max: 80)</label>
						<input type="text" name="title" maxlength="80" />

						<textarea name="body" class="tinymce"></textarea>
						<script>crpTinyMCE()</script>

						{% if user.role >= 2 %}
							<label for="type">Topic Type:</label>
							<select name="type">
								<option value="normal" selected>Normal</option>
								<option value="sticky">Sticky</option>
							</select>
						{% endif %}

						<input type="hidden" name="parent" value="{{forum._id}}" />
						<input type="submit" value="Post" />
						<span class="topic-error"></span>
					</form>
				</fieldset>
			{% endif %}

			{% include "./script.njk" %}
		{% else %}
			<div class="warning">You're not allowed to view this forum.</div>
		{% endif %}
	</ul>

	{% include "components/sidebar/index.njk" %}
</div>
