{% lookup 'forums', {_id: forumid}, 'forum' %}
{% lookup 'categories', {_id: forum.category}, 'category' %}
{% lookup 'chapters', {_id: category.chapter}, 'chapter' %}
{% getTopics {parent: forum._id}, true, 'allTopics' %}
{% set topics = crp.util.paginateArray(allTopics, 20, query.page) %}

<div class="container mt-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/forums">Index</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{forum.name}}</li>
		</ol>
	</nav>

	<div class="row">
		{% if chapter %}{% set member = chapter.getMember(user._id) %}{% endif %}
		{% if (not chapter or (member and member.role >= 1)) and (not category.role or user.role >= category.role) %}
			<div class="col-lg-9">
				{% if topics[0] %}
					<div class="container bg-white shadow-sm">
						<div class="row bg-primary text-light border-bottom border-secondary p-2">
							<div class="col col-lg-8">{{forum.name}}</div>
							<div class="col-lg-2 text-center d-none d-lg-block">Replies</div>
							<div class="col col-lg-2 text-center">Most Recent</div>
						</div>

						{% for topic in topics %}
							{% lookup 'users', {_id: topic.author}, 'author' %}
							{% query 'replies', {parent: topic._id}, {sort: [[['date', -1]]]}, 'replies' %}

							<div class="row p-2">
								<div class="col col-lg-8">
									<a href="/forums/{{forum.slug}}/{{topic._id}}">{{topic.title}}</a>
									{% if topic.type == 'sticky' %}
										<span class="badge badge-warning">Sticky</span>
									{% endif %}
									{% if crp.moment().diff(crp.moment(topic.date), 'days') < 3 %}
										<span class="badge badge-primary">New</span>
									{% endif %}
									<p class="m-0">Started By: <a href="/members/{{author.nicename}}">{{author.display_name}}</a></p>
								</div>
								<div class="col-lg-2 text-center d-none d-lg-block">{{replies.length}}</div>
								<div class="col col-lg-2 text-center">
									{% if replies[0] %}
										{% lookup 'users', {_id: replies[0].author}, 'author' %}

										<a href="/members/{{author.nicename}}">{{author.display_name}}</a>
										<br />
										{{crp.moment(replies[0].date).fromNow()}}
									{% else %}
										No Replies
									{% endif %}
								</div>
							</div>
							{% if not loop.last %}<hr class="m-0" />{% endif %}
						{% endfor %}
					</div>

					{% if allTopics.length > 20 %}
						<div class="pb-5">
							{% set pageUrl = '/forums/' + forum.slug %}
							{% set chunks = crp.util.chunkArray(allTopics, 20) %}
							{% include "components/pagination/index.njk" %}
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning" role="alert">This forum has no topics.</div>
				{% endif %}

				{% if user and user.role >= 1 %}
					<form class="bg-white rounded shadow-sm mt-3 p-3" id="new-topic-form">
						<h6 class="font-italic">Create New Topic in {{forum.name}}</h6>
						<hr />

						<div class="form-group">
							<label for="new-topic-form-title">Topic Title (Max 80)</label>
							<input type="text" class="form-control" id="new-topic-form-title" name="title" placeholder="Title" maxlength="80" />
							<div class="invalid-feedback"></div>
						</div>

						{% if user.role >= 2 %}
							<div class="form-group">
								<label for="new-topic-form-type">Topic Type</label>
								<select class="form-control" id="new-topic-form-type" name="type">
									<option value="normal">Normal</option>
									<option value="sticky">Sticky</option>
								</select>
								<div class="invalid-feedback"></div>
							</div>
						{% endif %}

						<div class="form-group">
							<textarea class="form-control tinymce" id="new-topic-form-body" name="body"></textarea>
							<div class="invalid-feedback"></div>
							<script>crpTinyMCE()</script>
						</div>

						<input type="hidden" name="parent" value="{{forum._id}}" />
						<button type="submit" class="btn btn-primary d-block ml-auto">Post</button>
					</form>
				{% endif %}
			</div>
		{% else %}
			<div class="col-lg-9">
				<div class="alert alert-warning" role="alert">You're not allowed to view this forum.</div>
			</div>
		{% endif %}

		<div class="col-lg-3 d-none d-lg-block">
			{% include "components/sidebar/index.njk" %}
		</div>
	</div>
</div>

{% include "./script.njk" %}
