<style>
	.forum {
		padding:30px;
		width:75%;
	}

	.forum li ul {
		display:flex;
	}

	.forum li {
		list-style-type:none;
	}

	.forum li ul li:first-child {
		text-align:left;
		width:55%;
	}

	.forum li ul li {
		text-align:center;
		width:20%;
	}

	.forum li ul li:last-child {
		width:22%;
	}

	.forum .header {
		background-color:#0c9060;
		border-bottom:1px solid #585858;
		height:44px;
		padding:12px;
	}

	.forum .topic {
		background-color:#323232;
		border-top: 1px solid #585858;
		padding:8px;
	}

	.forum .topic .topic-name {
		cursor:pointer;
		margin-left:4px;
	}

	.forum .topic .topic-author {
		font-size:15px;
		margin:5px 0 10px 4px;
	}

	.forum .new-post .topic_type {
		margin-top:8px;
	}

	.forum .new-post .topic-error {
		color:#ff0000;
		display:inline-block;
		float:right;
		margin:12px;
	}
</style>
