<style>
	.forum {
		padding:1.875em; /* 30/16 */
		width:75%;
	}

	.forum li ul {
		display:flex;
	}

	.forum li {
		list-style-type:none;
	}

	.forum li ul li:first-child {
		text-align:left;
		width:55%;
	}

	.forum li ul li {
		text-align:center;
		width:20%;
	}

	.forum li ul li:last-child {
		width:25%;
	}

	.forum .header {
		background-color:{{css.colors.secondary}};
		border-bottom:0.0625em solid #585858; /* 1/16 */
		height:2.75em; /* 44/16 */
		padding:0.75em; /* 12/16 */
	}

	.forum .topic {
		background-color:{{css.colors.header}};
		border-top:0.0625em solid #585858; /* 1/16 */
		padding:0.5em; /* 8/16 */
	}

	.forum .topic .topic-name {
		cursor:pointer;
		margin-left:0.25em; /* 4/16 */
	}

	.forum .topic .topic-author {
		font-size:0.9375em; /* 15/16 */
		margin:0.3333333333333333em 0 0.6666666666666666em 0.26666666666666666em; /* 5/15 */ /* 10/15 */ /* 4/15 */
	}

	.forum .new-post .topic_type {
		margin-top:0.5em; /* 8/16 */
	}

	.forum .new-post .topic-error {
		color:#ff0000;
		display:inline-block;
		float:right;
		margin:0.75em; /* 12/16 */
	}
</style>
