<ul class="topic">
	{% include "./style.njk" %}
	{% lookup 'topics', {_id: topicid}, {}, 'topic' %}
	{% lookup 'users', {_id: topic.author}, {}, 'author' %}
	{% lookup 'users', {_id: userid}, {}, 'user' %}

	<li class="header">
		<ul>
			<li>Author</li>
			<li>{{topic.title}}</li>
		</ul>
	</li>

	<li class="sub-header">
		<ul>
			<li>{{crp.util.dateToStr(topic.date)}}</li>
			<li>{% if author._id.equals(user._id) or user.role == 'administrator' %}<a>Edit</a> | <a>Delete</a> | {% endif %}<a onclick="crpScrollTo('.reply')">Reply</a></li>
		</ul>
	</li>

	<li class="body">
		<ul>
			<li>
				<img src="{{author.img.profile or '/img/members/profile.png'}}" width="80" height="80" />
				<a onclick="crpGetPage('/members/{{author.nicename}}')">{{author.display_name}}</a>
				<div class="role">{{author.role.replace('_', ' ')}}</div>
			</li>
			<li>{{topic.content | safe}}</li>
		</ul>
	</li>

	{% query 'replies', {parent: topic._id}, {date: -1}, 'replies' %}
	{% for reply in replies %}
		{% lookup 'users', {_id: reply.author}, {}, 'author' %}

		<li class="sub-header reply">
			<ul>
				<li>{{crp.util.dateToStr(reply.date)}}</li>
				<li>{% if author._id.equals(user._id) or user.role == 'administrator' %}<a onclick="editReply('{{reply._id}}')">Edit</a> | <a onclick="removeReply('{{reply._id}}')">Delete</a> | {% endif %}<a onclick="crpScrollTo('.reply')">Reply</a></li>
			</ul>
		</li>
		<li class="reply body">
			<ul>
				<li>

					<img src="{{author.img.profile or '/img/members/profile.png'}}" width="80" height="80" />
					<a onclick="crpGetPage('/members/{{author.nicename}}')">{{author.display_name}}</a>
					<div class="role">{{author.role.replace('_', ' ')}}</div>
				</li>
				<li>{{reply.content | safe}}</li>
			</ul>
		</li>
	{% endfor %}

	{% if user and user.role != 'pending' %}
		<script>crpTinyMCE()</script>
		<fieldset class="new-post">
			<legend>Reply to: {{topic.title}}</legend>
			<form>
				<textarea name="reply" class="reply tinymce"></textarea>

				<input type="hidden" name="parent" class="parent" value="{{topic._id}}" />
				<input type="submit" value="Post" />
				<span class="reply-error"></span>
			</form>
		</fieldset>
	{% endif %}

	{% include "./script.njk" %}
</ul>
