<script>
	function removeTopic(topicid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/remove-topic', {topicid: topicid}, (res) => {
				if (typeof res == 'object') {
					crpGetPage('/forums');
				} else {
					console.error(res);
				}
			});
		}
	}

	function removeReply(replyid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/remove-reply', {replyid: replyid}, (res) => {
				if (typeof res == 'object') {
					crpGetPage(window.location.pathname);
				} else {
					console.error(res);
				}
			});
		}
	}

	$('.new-post form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		if ($('.new-post .reply').val().length < 4) return $('.new-post .reply-error').html('Reply must be at least 4 characters');

		var formData = $(e.target).serialize();
		crpAjax('/api/new-reply', formData, (res) => {
			if (typeof res != 'object') {
				if (res == 'bodyLength') {
					return $('.new-post .reply-error').html('Reply must be at least 4 characters');
				} else {
					console.error(res);
					return $('.new-post .reply-error').html('Something went wrong :(');
				}
			} else {
				crpGetPage(window.location.pathname);
			}

		});
	});
</script>
