<script>
	function removeTopic(topicid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/remove-topic', {topicid: topicid}, (res) => {
				if (res === true) {
					crpGetPage('/forums');
				} else {
					console.error(res);
				}
			});
		}
	}

	function removeReply(replyid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/remove-reply', {replyid: replyid}, (res) => {
				if (res === true) {
					crpGetPage(window.location.pathname);
				} else {
					console.error(res);
				}
			});
		}
	}

	function subToTopic(topicid) {
		crpAjax('/api/subscribe-topic', {topicid: topicid}, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else {
				console.error(res);
			}
		});
	}

	function unSubToTopic(topicid) {
		crpAjax('/api/unsubscribe-topic', {topicid: topicid}, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else {
				console.error(res);
			}
		});
	}

	function editToggle(e, id) {
		if ($(e).html() == 'Edit') {
			$(e).html('Cancel');
		} else {
			$(e).html('Edit');
		}

		$(id).toggleClass('d-none');
		$(id).prev().toggleClass('d-none');
	}

	$('#new-reply-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		$('#new-reply-form-body').removeClass('is-invalid');
		if ($('#new-reply-form-body').val().length < 4) {
			$('#new-reply-form-body').next('.invalid-feedback').html('Reply must be at least 4 characters!');
			$('#new-reply-form-body').addClass('is-invalid');
			return;
		}

		var formData = $(e.target).serialize();
		crpAjax('/api/new-reply', formData, (res) => {
			if (res.content) {
				crpGetPage(window.location.pathname);
			} else if (res.errors.content) {
				$('#new-reply-form-body').next('.invalid-feedback').html(res.errors.content.message);
				$('#new-reply-form-body').addClass('is-invalid');
			} else {
				console.error(res);
				$('#new-reply-form-body').next('.invalid-feedback').html('Something went wrong :(');
				$('#new-reply-form-body').addClass('is-invalid');
			}
		});
	});

	$('#edit-topic-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		$('#edit-topic-form-title').removeClass('is-invalid');
		$('#edit-topic-form-body').removeClass('is-invalid');

		var isValid = true;
		if ($('#edit-topic-form-title').val().length < 4 || $('#edit-topic-form-title').val().length > 80) {
			$('#edit-topic-form-title').next('.invalid-feedback').html('Title must be at least 4 characters and no greater than 80 characters!');
			$('#edit-topic-form-title').addClass('is-invalid');
			isValid = false;
		}
		if ($('#edit-topic-form-body').val().length < 4) {
			$('#edit-topic-form-body').next('.invalid-feedback').html('Topic body must be at least 4 characters!');
			$('#edit-topic-form-body').addClass('is-invalid');
			isValid = false;
		}

		if (!isValid) return;
		var formData = $(e.target).serialize();
		crpAjax('/api/edit-topic', formData, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else if (res.errors) {
				if (res.errors.title) {
					$('#edit-topic-form-title').next('.invalid-feedback').html(res.errors.title.message);
					$('#edit-topic-form-title').addClass('is-invalid');
				}
				if (res.errors.content) {
					$('#edit-topic-form-body').next('.invalid-feedback').html(res.errors.content.message);
					$('#edit-topic-form-body').addClass('is-invalid');
				}
			} else {
				console.error(res);
				$('#edit-topic-form-body').next('.invalid-feedback').html('Something went wrong :(');
				$('#edit-topic-form-body').addClass('is-invalid');
			}
		});
	});

	$('.edit-reply-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		$(e.target).find('.edit-reply-form-body').removeClass('is-invalid');
		if ($(e.target).find('.edit-reply-form-body').val().length < 4) {
			$(e.target).find('.edit-reply-form-body').next('.invalid-feedback').html('Reply must be at least 4 characters!');
			$(e.target).find('.edit-reply-form-body').addClass('is-invalid');
			return;
		}

		var formData = $(e.target).serialize();
		crpAjax('/api/edit-reply', formData, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else if (res.errors.content) {
				$(e.target).find('.edit-reply-form-body').next('.invalid-feedback').html(res.errors.content.message);
				$(e.target).find('.edit-reply-form-body').addClass('is-invalid');
			} else {
				console.error(res);
				$(e.target).find('.edit-reply-form-body').next('.invalid-feedback').html('Something went wrong :(');
				$(e.target).find('.edit-reply-form-body').addClass('is-invalid');
			}
		});
	});
</script>
