<style>
	.topic {
		padding:1.875em; /* 30/16 */
		width:75%;
	}

	.topic li ul {
		display:flex;
	}

	.topic li {
		list-style-type:none;
	}

	.topic li ul li:first-child {
		text-align:center;
		width:15%;
	}

	.topic li ul li {
		text-align:left;
		width:82%;
	}

	.topic .header {
		background-color:#0c9060;
		border-bottom:0.0625em solid #585858; /* 1/16 */
		height:2.75em; /* 44/16 */
		padding:0.75em; /* 12/16 */
	}

	.topic .sub-header {
		background-color:#323232;
		border-top: 0.0625em solid #585858; /* 1/16 */
		padding:0.5em; /* 8/16 */
	}

	.topic .sub-header ul li:first-child {
		text-align:left;
		width:25%;
	}

	.topic .body {
		background-color:#323232;
		padding:0.5em; /* 8/16 */
	}

	.topic .body ul li:first-child img {
		display:block;
		margin:auto;
	}

	.topic .body ul li:first-child a {
		display:block;
		margin:0.5em auto; /* 8/16 */
	}

	.topic .body ul li:first-child .role {
		font-size:0.75em; /* 12/16 */
		font-style:italic;
	}

	.topic .body ul li p {
		margin-bottom:1.25em; /* 20/16 */
	}
</style>
