<style>
	.topic {
		width:75%;
	}

	.topic .breadcrumbs {
		font-size:0.875em; /* 14/16 */
		padding-bottom:2.142857142857143em; /* 30/14 */
	}

	.topic li ul {
		display:flex;
		font-size:0.875em; /* 14/16 */
	}

	.topic li {
		list-style-type:none;
	}

	.topic li ul li:first-child {
		text-align:center;
		width:15%;
	}

	.topic li ul li {
		text-align:right;
		width:85%;
	}

	.topic .header {
		background-color:{{css.colors.secondary}};
		border-bottom:0.0625em solid {{css.colors.header}}; /* 1/16 */
		height:2.75em; /* 44/16 */
		padding:0.75em; /* 12/16 */
	}

	.topic .sub-header {
		background-color:{{css.colors.primary}};
		border-top: 0.0625em solid {{css.colors.header}}; /* 1/16 */
		padding:0.5em; /* 8/16 */
	}

	.topic .sub-header ul li:first-child {
		text-align:left;
		width:25%;
	}

	.topic .sub-header ul li {
		width:75%;
	}

	.topic .sub-header.reply {
		border:none;
		margin-top:0.0625em; /* 1/16 */
	}

	.topic .body {
		background-color:{{css.colors.primary}};
		padding:0.5em; /* 8/16 */
	}

	.topic .body ul li:first-child img {
		display:block;
		margin:auto;
	}

	.topic .body ul li:first-child a {
		display:block;
		margin:0.5714285714285714em auto; /* 8/14 */
	}

	.topic .body ul li:first-child .role {
		font-size:0.7857142857142857em; /* 11/14 */
		font-style:italic;
	}

	.topic .body ul li {
		text-align:left;
		width:82%;
	}

	.topic .body ul li * {
		max-width:100%;
	}

	.topic .body ul li p {
		margin-bottom:1.4285714285714286em; /* 20/14 */
	}

	.topic .body ul li blockquote p {
		margin:0;
	}
</style>
