<style>
	.topic {
		padding:30px;
		width:75%;
	}

	.topic li ul {
		display:flex;
	}

	.topic li {
		list-style-type:none;
	}

	.topic li ul li:first-child {
		text-align:center;
		width:15%;
	}

	.topic li ul li {
		text-align:left;
		width:82%;
	}

	.topic .header {
		background-color:#0c9060;
		border-bottom:1px solid #585858;
		height:44px;
		padding:12px;
	}

	.topic .sub-header {
		background-color:#323232;
		border-top: 1px solid #585858;
		padding:8px;
	}

	.topic .sub-header ul li:first-child {
		text-align:left;
		width:25%;
	}

	.topic .body {
		background-color:#323232;
		padding:8px;
	}

	.topic .body ul li:first-child img {
		display:block;
		margin:auto;
	}

	.topic .body ul li:first-child a {
		display:block;
		margin:8px auto;
	}

	.topic .body ul li:first-child .role {
		font-size:12px;
		font-style:italic;
	}

	.topic .body ul li p {
		margin-bottom:1.25em;
	}
</style>
