{% include "./style.njk" %}

<div class="carousel slide" id="carouselHome" data-ride="carousel">
	<div class="carousel-inner">
		<ol class="carousel-indicators">
			<li data-target="#carouselHome" data-slide-to="0" class="active"></li>
			<li data-target="#carouselHome" data-slide-to="1"></li>
			<li data-target="#carouselHome" data-slide-to="2"></li>
		</ol>

		{% query 'posts', {type: 'news'}, {sort: [['date', -1]], limit: 3}, 'posts' %}
		{% for post in posts %}
			{% lookup 'users', {_id: post.author}, 'author' %}
			<div class="carousel-item {% if loop.first %}active{% endif %}">
				<img class="ml-auto" src="{{post.img}}" alt="{{post.title}}" width="100%" />
				<div class="carousel-caption px-5">
					<h5><a class="text-white text-uppercase" href="{{post.slug}}">{{post.title}}</a></h5>
					<h6><a class="font-italic text-white" href="/members/{{author.nicename}}">{{author.display_name}}</a> / {{crp.util.dateToStr(post.date)}}</h6>
					<p>{{post.content | safe | striptags(true) | truncate(150)}}</p>
					<p><a class="font-weight-bold text-white" href="{{post.slug}}">Read More</a></p>
				</div>
			</div>
		{% endfor %}

		<a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="container mt-3">
	<div class="row">
		<div class="d-lg-none bg-white shadow-sm rounded mx-3 p-3">
			<h4 class="font-weight-bold">About</h4>
			<hr />
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>

		{% query 'posts', {type: 'featured_content'}, {sort: [['date', -1]], limit: 3}, 'posts' %}
		{% for post in posts %}
			<div class="col-lg-4 mt-3 mt-lg-0">
				<div class="card shadow-sm">
					<img class="card-img-top" src="{{post.img}}" height="250" alt="{{post.title}}" />
					<div class="card-body">
						<h5 class="card-title font-weight-bold text-uppercase"><a href="{{post.slug}}">{{post.title}}</a></h5>
						<h6 class="card-subtitle text-muted font-italic">{{crp.moment(post.date).fromNow()}}</h6>
						<p class="card-text">{{post.content | safe | striptags(true) | truncate(100)}}</p>
						<a class="card-link font-weight-bold" href="{{post.slug}}">Read More</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row mt-3">
		<div class="col-lg-9 recent-posts">
			<h4 class="font-family-montserrat">Recent Posts</h4>
			<hr />

			{% set i = 0 %}
			{% getTopics {}, 'topics' %}
			{% for topic in topics %}
				{% if i < 5 %}
					{% lookup 'users', {_id: topic.author}, 'author' %}
					{% lookup 'forums', {_id: topic.parent}, 'forum' %}
					{% lookup 'categories', {_id: forum.category}, 'category' %}

					{% if not category.role or user.role >= category.role %}
						<h5>
							<a href="/forums/{{forum.slug}}/{{topic._id}}">{{topic.title}}</a>
							{% if crp.moment().diff(crp.moment(topic.date), 'days') < 3 %}
								<span class="badge badge-primary">New</span>
							{% endif %}
						</h5>
						<h6 class="text-muted font-italic"><a href="/members/{{author.nicename}}">{{author.display_name}}</a> - {{crp.moment(topic.sortDate).fromNow()}}</h6>
						<p>{{topic.content | safe | striptags(true) | truncate}}</p>
						<hr />
						{% set i = i + 1 %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>

		<div class="col-lg-3">
			<div class="d-none d-lg-block bg-white shadow-sm rounded p-3">
				<h4 class="font-weight-bold">About</h4>
				<hr />
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			</div>

			<div class="bg-white shadow-sm rounded mt-3 p-3">
				<h4 class="font-weight-bold">Help Us</h4>
				<hr />
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="S7UPCZZ9UYXZ6">
					<input type="image" src="{{crp.storage.getUrl(css.img.donate)}}" name="submit" width="100%" alt="PayPal - The safer, easier way to pay online!">
					<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0" alt="" />
				</form>
			</div>

			<div class="shadow-sm mt-3">
				<a href="https://discord.gg/6GaYTAY" target="_blank"><img src="{{crp.storage.getUrl(css.img.discord)}}" width="100%"></a>
			</div>

			<div class="shadow-sm mt-3">
				<iframe src="https://discordapp.com/widget?id=324988028768485376&theme=dark" width="100%" height="400" allowtransparency="true" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>
