<script>
	var slider = $('.home .slider .slides');
	var slides = slider.find('.post');
	var width = slider.width();
	var anim = false;
	var current = 1;
	var drag;
	var pos;

	$('.home .slider .slides .post ul').mousedown((e) => {
		e.stopPropagation();
	});

	slider.click((e) => {
		if (!anim && !$(e.target).is('ul') && $('.home .slider .slides .post ul').has(e.target).length == 0) {
			if (e.clientX >= (slider.parent().offset().left + (width / 2))) {
				sliderNext();
			} else {
				sliderPrev();
			}
		}
	});

	slider.draggable({axis: 'x'});
	slider.on('dragstart', (e, ui) => {
		if (anim) return false;

		drag = true;
		pos = ui.position.left;
	});

	slider.on('drag', (e, ui) => {
		if (ui.position.left <= (pos - (width * 0.9))) {
			return false;
		} else if (ui.position.left >= (pos + (width * 0.9))) {
			return false;
		}
	});

	slider.on('dragstop', (e, ui) => {
		if (ui.position.left <= (pos - (width * 0.25))) {
			drag = false;
			sliderNext();
		} else if (ui.position.left >= (pos + (width * 0.25))) {
			drag = false;
			sliderPrev();
		} else {
			drag = false;
			sliderStay();
		}
	});

	if (timer) clearInterval(timer);
	var timer = setInterval(sliderInterval, 5000);
	function sliderInterval() {
		if (!anim && !drag) {
			sliderNext();
		}
	}

	function sliderNext() {
		current++
		anim = true;
		slider.animate({left: `-${current}00%`}, () => {
			anim = false;

			clearInterval(timer);
			timer = setInterval(sliderInterval, 5000);
			if (current == slides.length - 1) {
				current = 1;
				slider.css('left', '-100%');

			}
		});
	}

	function sliderStay() {
		anim = true;
		slider.animate({left: `-${current}00%`}, () => {
			anim = false;
			clearInterval(timer);
			timer = setInterval(sliderInterval, 5000);
		});
	}

	function sliderPrev() {
		current--
		anim = true;
		slider.animate({left: `-${current}00%`}, () => {
			anim = false;

			clearInterval(timer);
			timer = setInterval(sliderInterval, 5000);
			if (current == 0) {
				current = slides.length - 2;
				slider.css('left', `-${current}00%`);
			}
		});
	}
</script>
