<style>
	.home .sidebar.left {
		padding:0;
	}

	.home .featured-content {
		padding-left:1.875em; /* 30/16 */
		width:50%;
	}

	.home .featured-content h1 {
		display:block;
		border-bottom:2px solid #242424;
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:20px;
		margin-bottom:5px;
		padding-bottom:15px;
	}

	.home .featured-content ul {
		list-style-type:none;
	}

	.home .featured-content ul li a img {
		border:0.0625em solid #EEE; /* 1/16 */
		margin:0 auto 1.875em auto; /* 30/16 */
		max-width:100%;
		padding:0.1875em; /* 3/16 */
	}

	.home .featured-content ul li.title {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		padding-bottom:0.3125em; /* 5/16 */
		text-transform:uppercase;
	}

	.home .featured-content ul li.date {
		color:#BBB;
		font-size:11px;
		padding-bottom:10px;
	}

	.home .featured-content ul li.content {
		border-bottom:1px solid #EEE;
		margin-bottom:10px;
		padding-bottom:10px;
	}

	.home .donate-widget img,
	.home .donate-widget input[type=image] {
		width:100%;
	}
</style>
