<script>
	function removeChapter(chapterid) {
		if (window.confirm('Are you sure?')) {
			crpAjax('/api/remove-chapter', {chapterid: chapterid}, (res) => {
				if (res === true) {
					crpGetPage('/chapters');
				} else {
					console.log(res);
				}
			});
		}
	}

	chapterPickr.on('save', (color, pickr) => {
		var hex = color.toHEXA().toString();
		$('#sample-event').css('background-color', hex);
		$('#chapter-form-color').val(hex);
	});

	$('#chapter-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		$('#chapter-form-slug').removeClass('is-invalid');
		$('#chapter-form-game').removeClass('is-invalid');
		$('#chapter-form-discord').removeClass('is-invalid');
		$('#chapter-form-tagline').removeClass('is-invalid');
		$('#chapter-form-profile_pic').removeClass('is-invalid');
		$('#chapter-form-cover_pic').removeClass('is-invalid');
		$('#chapter-form-desc').removeClass('is-invalid');

		var formData = new FormData(e.target);
		crpAjaxUpload('/api/edit-chapter', formData, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else if (res.errors) {
				if (res.errors.slug) {
					$('#chapter-form-slug').next('.invalid-feedback').html(res.errors.slug.message);
					$('#chapter-form-slug').addClass('is-invalid');
				}
				if (res.errors.game) {
					$('#chapter-form-game').next('.invalid-feedback').html(res.errors.game.message);
					$('#chapter-form-game').addClass('is-invalid');
				}
				if (res.errors.discord) {
					$('#chapter-form-discord').next('.invalid-feedback').html(res.errors.discord.message);
					$('#chapter-form-discord').addClass('is-invalid');
				}
				if (res.errors.tagline) {
					$('#chapter-form-tagline').next('.invalid-feedback').html(res.errors.tagline.message);
					$('#chapter-form-tagline').addClass('is-invalid');
				}
			} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'profile_pic') {
				$('#chapter-form-profile_pic').next('.invalid-feedback').html('File size must be < 2 MB');
				$('#chapter-form-profile_pic').addClass('is-invalid');
			} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'cover_pic') {
				$('#chapter-form-cover_pic').next('.invalid-feedback').html('File size must be < 2 MB');
				$('#chapter-form-cover_pic').addClass('is-invalid');
			} else {
				console.error(res);
				$('#chapter-form-desc').next('.invalid-feedback').html('Something went wrong :(');
				$('#chapter-form-desc').addClass('is-invalid');
			}
		});
	});
</script>
