{% query 'games', {}, {sort: [['name', 1]]}, 'games' %}
{% query 'chapters', {}, {sort: [['name', 1]]}, 'chapters' %}

<nav class="nav nav-tabs justify-content-center mt-3">
	<a href="/chapters" class="nav-item nav-link active">All Chapters</a>
	<a href="/chapters/create" class="nav-item nav-link">Create Chapter</a>
</nav>

<nav class="nav nav-tabs d-block d-lg-flex justify-content-center text-center bg-white">
	{% for game in games %}
		{% if crp.util.findObjectInArray(chapters, 'game', game._id.toString()) %}
			<a href="/chapters/{{game.slug}}" class="nav-item nav-link border-top-0 border-bottom rounded-0 {% if game._id.equals(filter) %}active{% endif %}">{{game.name}}</a>
		{% endif %}
	{% endfor %}
</nav>

{% if filter %}
	{% set chapters = crp.util.filterObjectArray(chapters, {game: filter.toString()}) %}
{% endif %}

<div class="container mt-3">
	<div class="row">
		{% for chapter in chapters %}
			{% set game = crp.util.findObjectInArray(games, '_id', chapter.game.toString()) %}

			<div class="col-lg-3 mb-3">
				<div class="card shadow-sm">
					{% if crp.chapters.getMember(chapter, user._id).role >= 2 or user.role >= 3 %}
						<a href="/chapters/{{chapter.nicename}}/edit" class="position-absolute w-100 text-right pr-1">Edit</a>
					{% endif %}

					<a href="{{crp.chapters.getURL(chapter)}}" class="card-img-top">
						<img src="{{crp.chapters.getProfilePic(chapter)}}" class="d-block mx-auto my-1" width="200" height="200" alt="{{chapter.name}}">
					</a>

					<div class="card-header border-top text-center">
						<h5><a href="{{crp.chapters.getURL(chapter)}}" {% if chapter.type == 'hosted' or chapter.type == 'url' %}target="_blank"{% endif %}>{{chapter.name}}</a></h5>
						<a href="/chapters/{{game.slug}}" class="font-italic">{{game.name}}</a>
					</div>

					{% if chapter.tagline %}
						<div class="card-body text-center text-muted">{{chapter.tagline}}</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
