{% include "./style.njk" %}
{% lookup 'users', {_id: userid}, 'user' %}
{% query 'chapters', {}, {sort: [['name', 1]]}, 'chapters' %}
{% query 'games', {}, {sort: [['name', 1]]}, 'games' %}

<ul class="header noselect">
	<li class="active" onclick="crpGetSubPage('/chapters', '.chapters', true)">All Chapters</li>

	{% if user.role >= 2 %}
		<li onclick="crpGetSubPage('/chapters/create', '.chapters', true)">Create a Chapter</li>
	{% endif %}
</ul>

<ul class="sub-header noselect">
	{% for game in games %}
		<li onclick="crpGetSubPage('/chapters/{{game.slug}}', '.chapters', true)">{{game.name}}</li>
	{% endfor %}
</ul>

<ul class="content">
	{% for chapter in chapters %}
		{% set game = crp.util.findObjectInArray(games, '_id', chapter.game.toString()) %}
		{% if not filter or game._id.equals(filter) %}
			<li class="chapter">
				<ul>
					<li><img src="{{crp.chapters.getProfilePic(chapter)}}" /></li>
					<li>
						{{crp.chapters.getLink(chapter) | safe}}
						<p>{{chapter.tagline}}</p>
					</li>
					<li>
						Game: <a class="subpage" href="/chapters/{{game.slug}}" container=".chapter" newurl="true">{{game.name}}</a>
						{% if crp.chapters.getMember(chapter, user._id).role >= 2 or user.role >= 3 %}
							<span><a href="/chapters/{{chapter.nicename}}/edit">Edit</a> | <a onclick="removeChapter('{{chapter._id}}')">Delete</a></span>
						{% endif %}
					</li>
				</ul>
			</li>
		{% endif %}
	{% endfor %}
</ul>

{% include "./script.njk" %}
