<style>
	.chapters .sub-header {
		background-color:{{css.colors.header}};
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		min-height:2.375em;
	}

	.chapters .sub-header li {
		border-right:0.0625em solid {{css.colors.bg}}; /* 1/16 */
		padding:0.625em; /* 10/16 */
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	.chapters .sub-header li:hover {
		background-color:{{css.colors.primary}};
		cursor:pointer;
	}

	.chapters .sub-header li.active {
		background-color:{{css.colors.primary}};
		cursor:default;
	}

	.chapters .content .chapter {
		border-bottom:0.0625em solid #EAEAEA; /* 1/16 */
		padding:0.9375em 0; /* 15/16 */
	}

	.chapters .content .chapter ul {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		-webkit-box-pack:left;
		-ms-flex-pack:left;
		justify-content:left;
	}

	.chapters .content .chapter ul li:first-child {
		margin-right:0.625em; /* 10/16 */
	}

	.chapters .content .chapter ul li:last-child {
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
		margin-top:0.625em; /* 10/16 */
	}

	.chapters .content .chapter ul li img {
		height:3.125em; /* 50/16 */
		width:3.125em; /* 50/16 */
	}

	.chapters .content .chapter ul li span {
		float:right;
	}

	.chapters .content .chapter ul li p {
		color:#767676;
		font-size:0.75em; /* 12/16 */
		margin-top:0.8333333333333334em; /* 10/12 */
	}
</style>
