<style>
	.chapters .sub-header {
		background-color:{{css.colors.header}};
		display:flex;
		min-height:2.375em;
	}

	.chapters .sub-header li {
		border-right:1px solid {{css.colors.bg}};
		padding:10px;
		transition:all 0.2s ease-in-out;
	}

	.chapters .sub-header li:hover {
		background-color:{{css.colors.primary}};
		cursor:pointer;
	}

	.chapters .sub-header li.active {
		background-color:{{css.colors.primary}};
		cursor:default;
	}

	.chapters .content .chapter {
		border-bottom:1px solid #EAEAEA;
		padding:15px 0;
	}

	.chapters .content .chapter ul {
		display:flex;
		flex-wrap:wrap;
		justify-content:left;
	}

	.chapters .content .chapter ul li:first-child {
		margin-right:10px;
	}

	.chapters .content .chapter ul li:last-child {
		flex-basis:100%;
		margin-top:10px;
	}

	.chapters .content .chapter ul li img {
		height:50px;
		width:50px;
	}

	.chapters .content .chapter ul li span {
		float:right;
	}

	.chapters .content .chapter ul li p {
		color:#767676;
		font-size:12px;
		margin-top:10px;
	}
</style>
