{% extends "./layout.njk" %}

{% block body %}
	{% include "./style.njk" %}

	<div id="header-image"></div>

	{% include "./components/navigation/index.njk" %}
	{% include "./components/login/index.njk" %}
	{% include "./components/header/index.njk" %}

	<div class="content-blackout"></div>
	<div class="content section-inner">

		<div class="clear"></div>
	</div>

	{% include "./components/footer/index.njk" %}
{% endblock %}
