<style>
	.activity {
		padding-right:0.625em; /* 10/16 */
	}

	.activity li {
		border-bottom:0.0625em solid #EAEAEA; /* 1/16 */
		padding:0.9375em 0; /* 15/16 */
		list-style:none;
	}

	.activity li ul {
		display:flex;
	}

	.activity li ul li {
		border:none;
		padding:0;
	}

	.activity li ul li:first-child {
		padding-right:0.625em; /* 10/16 */
	}

	.activity li ul li:last-child {
		color:#767676;
	}

	.activity li ul li .profile-pic {
		height:3.125em; /* 50/16 */
		width:3.125em; /* 50/16 */
	}

	.activity li ul li div {
		border-left:0.125em solid #EAEAEA; /* 2/16 */
		margin:0.625em 0; /* 10/16 */
		padding:0 0.625em; /* 10/16 */
	}
</style>
