<ul class="forums">
	{% include "./style.njk" %}
	{% lookup 'users', {_id: userid}, {}, 'user' %}

	{% query 'categories', {}, {order: 1}, 'categories' %}
	{% for category in categories %}
		{% if not category.role or category.role == user.role or user.role == 'administrator' %}
			<li class="category">
				<ul>
					<li>{{category.name}}</li>
					<li>Topics</li>
					<li>Replies</li>
					<li>Most Recent</li>
				</ul>
			</li>

			{% query 'forums', {category: category._id}, {order: 1}, 'forums' %}
			{% for forum in forums %}
				{% lookup 'topics', {parent: forum._id}, {date: -1}, 'topic' %}

				<li class="forum">
					<ul>
						<li>
							<a class="forum-name" onclick="crpGetPage('/forums/{{forum.slug}}')">{{forum.name}}</a>
							<div class="forum-desc">{{forum.desc}}</div>
						</li>
						<li>{{topics.length}}</li>
						<li>0</li>
						<li>
							{% if topic %}
								{% lookup 'users', {_id: topic.author}, {}, 'author' %}
								<a onclick="crpGetPage('/forums/{{forum.slug}}/{{topic._id}}')">{{topic.title}}</a> by <a onclick="crpGetPage('/members/{{author.nicename}}')">{{author.display_name}}</a>
							{% else %}
								No Topics
							{% endif %}
						</li>
					</ul>
				</li>
			{% endfor %}
		{% endif %}
	{% endfor %}
</ul>
