<style>
	.index {
		display:flex;
		padding:1.875em; /* 30/16 */
	}

	.forums {
		width:75%;
	}

	.forums li ul {
		display:flex;
	}

	.forums li {
		list-style-type:none;
	}

	.forums li ul li:first-child {
		text-align:left;
		width:55%;
	}

	.forums li ul li {
		text-align:center;
		width:20%;
	}

	.forums li ul li:last-child {
		width:25%;
	}

	.forums .category {
		background-color:{{css.colors.secondary}};
		border-bottom:0.0625em solid #585858; /* 1/16 */
		height:2.75em; /* 44/16 */
		padding:0.75em; /* 12/16 */
	}

	.forums .forum {
		background-color:{{css.colors.header}};
		border-top:0.0625em solid #585858; /* 1/16 */
		padding:0.5em; /* 8/16 */
	}

	.forums .forum .forum-name {
		color:{{css.colors.font}};
		cursor:pointer;
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1.1875em; /* 19/16 */
		font-weight:500;
		margin-left:0.7894736842105263em; /* 15/19 */
		text-decoration: none;
		transition:all 0.2s ease-in-out;
	}

	.forums .forum .forum-name:hover {
		color:#888;
	}

	.forums .forum .forum-desc {
		color:#BCBCBC;
		font-size:0.9375em; /* 15/16 */
		margin:0.6666666666666666em 0 0.6666666666666666em 2em; /* 10/15 */ /* 10/15 */ /* 30/15 */
	}
</style>
