<style>
	.forums {
		width:75%;
	}

	.forums .breadcrumbs {
		font-size:0.875em; /* 14/16 */
		padding-bottom:2.142857142857143em; /* 30/14 */
	}

	.forums li ul {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}

	.forums li {
		list-style-type:none;
	}

	.forums li ul li:first-child {
		text-align:left;
		width:55%;
	}

	.forums li ul li {
		text-align:center;
		width:20%;
	}

	.forums li ul li:last-child {
		width:25%;
	}

	.forums .category {
		background-color:{{css.colors.secondary}};
		border-bottom:0.07142857142857142em solid {{css.colors.header}}; /* 1/14 */
		font-size:0.875em; /* 14/16 */
		height:3.142857142857143em; /* 44/14 */
		padding:0.8571428571428571em; /* 12/14 */
	}

	.forums .forum {
		background-color:{{css.colors.primary}};
		border-top:0.07142857142857142em solid {{css.colors.header}}; /* 1/14 */
		font-size:0.875em; /* 14/16 */
		padding:0.5714285714285714em; /* 8/14 */
	}

	.forums .forum .forum-name {
		color:{{css.colors.font}};
		cursor:pointer;
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1.2142857142857142em; /* 17/14 */
		margin-left:0.8823529411764706em; /* 15/17 */
		text-decoration: none;
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	.forums .forum .forum-name:hover {
		color:#888;
	}

	.forums .forum .forum-desc {
		color:#BCBCBC;
		font-size:0.9285714285714286em; /* 13/14 */
		margin:0.7692307692307693em 0 0.7692307692307693em 2.3076923076923075em; /* 10/13 */ /* 10/13 */ /* 30/13 */
	}
</style>
