<style>
	.forums {
		padding:30px;
		width:75%;
	}

	.forums li ul {
		display:flex;
	}

	.forums li {
		list-style-type:none;
	}

	.forums li ul li:first-child {
		text-align:left;
		width:55%;
	}

	.forums li ul li {
		text-align:center;
		width:10%;
	}

	.forums li ul li:last-child {
		width:22%;
	}

	.forums .category {
		background-color:#0c9060;
		border-bottom:1px solid #585858;
		height:44px;
		padding:12px;
	}

	.forums .forum {
		background-color:#323232;
		border-top: 1px solid #585858;
		padding:8px;
	}

	.forums .forum .forum-name {
		color:#E0E0E0;
		cursor:pointer;
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:19px;
		font-weight:500;
		margin-left:15px;
		text-decoration: none;
		transition:all 0.2s ease-in-out;
	}

	.forums .forum .forum-name:hover {
		color:#888;
	}

	.forums .forum .forum-desc {
		color:#BCBCBC;
		font-size:15px;
		margin:10px 0 10px 30px;
	}
</style>
