<div class="row bg-white shadow-sm">
	<div class="list-group col-lg-3 pr-0">
		<a href="/admin/settings" class="list-group-item list-group-item-action border-right-0 rounded-0" container=".admin-content" newurl="true">Site</a>
		<a href="/admin/users" class="list-group-item list-group-item-action border-right-0 rounded-0" container=".admin-content" newurl="true">Users</a>
		<a href="/admin/forums" class="list-group-item list-group-item-action border-right-0 rounded-0 active" container=".admin-content" newurl="true">Forums</a>
		<a href="/admin/posts" class="list-group-item list-group-item-action border-right-0 rounded-0" container=".admin-content" newurl="true">Posts</a>
	</div>

	<div class="col-lg-9 border-left p-3">

	</div>
</div>
{% include "./script.njk" %}
