<style>
	.forums-menu {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}

	.forums-menu li {
		background-color:{{css.colors.primary}};
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		list-style-type:none;
		padding:0.375em 1.25em; /* 6/16 */ /* 20/16 */
		margin-left:0.0625em; /* 1/16 */
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	.forums-menu li.active {
		background-color:{{css.colors.header}};
	}

	.forums-menu li:hover {
		background-color:{{css.colors.header}};
		cursor:pointer;
	}

	.forums-content {
		margin-left:0.0625em; /* 1/16 */
	}

	.forums-content .filter {
		display:none;
	}

	.forums-content .filter.active {
		display:initial;
	}

	.forums-content ul {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:space-evenly;
		-ms-flex-pack:space-evenly;
		justify-content:space-evenly;
	}

	.forums-content ul li {
		background-color:{{css.colors.primary}};
		-webkit-box-flex:1;
		-ms-flex:1;
		flex:1;
		list-style-type:none;
		margin-top:0.0625em; /* 1/16 */
		padding:0.625em; /* 10/16 */
	}

	.forums-content ul.header li {
		background-color:{{css.colors.header}};
		margin-top:0;
	}

	.forums-content ul:not(.header):hover li {
		background-color:{{css.colors.header}};
		cursor:pointer;
	}

	.forums-content form:not(.new-forum-post) {
		background-color:{{css.colors.primary}};
		display:none;
	}

	.forums-content form:not(.new-forum-post).active {
		padding:0.625em; /* 10/16 */
		display:block;
	}

	.forums-content form input,
	.forums-content form select {
		display:inline-block;
		margin-bottom:0.5em; /* 8/16 */
		width:auto;
	}

	.forums-content form .submit {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
		margin-top:0.5em; /* 8/16 */
	}

	.forums-content .new-post {
		margin:1.875em; /* 30/16 */
	}
</style>
