<style>
	#register-form {
		margin:1.875em; /* 30/16 */
	}

	#register-form label,
	#register-form .standard-input {
		width:50%;
	}

	#register-form .captcha {
		border-left:0.0625em solid #141414; /* 1/16 */
		float:right;
		padding:0.625em; /* 10/16 */
	}
</style>
