<style>
	#register-form {
		margin:30px;
	}

	#register-form label,
	#register-form .standard-input {
		width:50%;
	}

	#register-form .captcha {
		border-left:1px solid #141414;
		float:right;
		padding:10px;
	}
</style>
