<div class="footer">
	{% include "./style.njk" %}

	<p>© {{crp.moment().format('YYYY')}} <a href="/">{{site.name}}</a></p>
	<i><a href="https://www.privacypolicies.com/privacy/view/9a581bfd3b1ceb6daee4ec7abcc40d52">Privacy Policy</a></i>
</div>