<style>
	.footer {
		display:block;
		margin:0 auto;
		max-width:90%;
		position:relative;
		padding:3.75em 0; /* 60/16 */
		width:77.5em; /* 1240/16 */
		top:3.75em; /* 60/16 */
	}

	.footer p {
		color:#fff;
		font-size:1.175em;
		text-align:center;
		text-transform:uppercase;
	}
	
	.footer i {
		display:block;
		text-align:center;
	}

	.footer a {
		color:#fff;
	}

	.footer a:hover {
		text-decoration:none;
	}
</style>