<style>
	.footer {
		display:block;
		position:relative;
		padding:60px 0;
		width:1240px;
		top:60px;
	}

	.footer p {
		color:#fff;
		font-size:1.175em;
		text-align:center;
		text-transform:uppercase;
	}

	.footer a {
		color:#fff;
		text-decoration:none;
	}
</style>
