{% include "./style.njk" %}
{% lookup 'users', {_id: profileid}, 'profile' %}
{% query 'chapters', {}, {sort: [['name', 1]]}, 'chapters' %}

<ul class="chapters">
	{% set chapterCount = 0 %}
	{% for chapter in chapters %}
		{% if crp.util.getChapterMember(chapter, profile._id).role > 0 %}
			{% set chapterCount = chapterCount + 1 %}
			{% lookup 'games', {_id: chapter.game}, 'game' %}

			<li class="chapter">
				<ul>
					<li><img src="{{crp.util.getChapterProfilePic(chapter)}}" /></li>
					<li>
						{{crp.util.getChapterLink(chapter) | safe}}
						<p>{{chapter.tagline}}</p>
					</li>
					<li>Game: <a onclick="crpGetPage('/chapters/{{game.slug}}')">{{game.name}}</a></li>
				</ul>
			</li>
		{% endif %}
	{% endfor %}

	{% if chapterCount == 0 %}
		<div class="warning">You're not a member of any Chapters.</div>
	{% endif %}
</ul>
