<script>
	function acceptChapterInvite(chapterid) {
		crpAjax('/api/accept-chapter-invite', {chapterid: chapterid}, (res) => {
			if (typeof res == 'object') {
				crpGetPage(window.location.pathname);
			} else {
				console.log(res);
			}
		});
	}

	function declineChapterInvite(chapterid) {
		crpAjax('/api/leave-chapter', {chapterid: chapterid}, (res) => {
			if (typeof res == 'object') {
				crpGetPage(window.location.pathname);
			} else {
				console.log(res);
			}
		});
	}
</script>
