<style>
	.chapters li {
		list-style-type:none;
	}

	.chapters .warning {
		margin:0.625em 0.625em 0 0; /* 10/16 */ /* 10/16 */
	}

	.chapters .chapter {
		border-bottom:0.0625em solid #EAEAEA; /* 1/16 */
		padding:0.9375em 0; /* 15/16 */
	}

	.chapters .chapter ul {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
		-webkit-box-pack:left;
		-ms-flex-pack:left;
		justify-content:left;
	}

	.chapters .chapter ul li:first-child {
		margin-right:0.625em; /* 10/16 */
	}

	.chapters .chapter ul li:last-child {
		-ms-flex-preferred-size:100%;
		flex-basis:100%;
		margin-top:0.625em; /* 10/16 */
	}

	.chapters .chapter ul li img {
		height:3.125em; /* 50/16 */
		width:3.125em; /* 50/16 */
	}

	.chapters .chapter ul li p {
		color:#767676;
		font-size:0.75em; /* 12/16 */
		margin-top:0.8333333333333334em; /* 10/12 */
	}
</style>
