{{#unless req.user}}
	<link rel="stylesheet" href="/css/members/register.css">
	<form id="register-form" class="standard-form">
		<div class="g-recaptcha" data-sitekey="6Lf0MT8UAAAAAJ48jzvBm-QGZpB0Fer8WsGpguMS"></div>	
	
		<label for="user_login" required>Username</label>
		<div class="standard-input">
			<input type="text" name="user_login" class="user_login" />
			<span class="input-error"></span>
		</div>
		
		<label for="user_email" required>Email Address</label>
		<div class="standard-input">
			<input type="text" name="user_email" class="user_email" />
			<span class="input-error"></span>
		</div>
		
		<label for="user_pass" required>Choose a Password</label>
		<div class="standard-input">
			<input type="password" name="user_pass" class="user_pass" />
			<span class="input-error"></span>
		</div>
		
		<label for="user_pass_confirm" required>Confirm Password</label>
		<div class="standard-input">
			<input type="password" name="user_pass_confirm" class="user_pass_confirm" />
			<span class="input-error"></span>
		</div>
		
		<input type="submit" value="Complete Signup" />
	</form>
	<script src="/js/members/register.js"></script>
{{/unless}}