<div class="container p-0">
	<div class="bg-white shadow-sm rounded p-3">
		<h4 class="font-weight-bold">Recent Posts</h4>
		<hr />

		<ul class="pl-3">
			{% set i = 0 %}
			{% getTopics {}, false, 'topics' %}
			{% for topic in topics %}
				{% if i < 5 %}
					{% lookup 'users', {_id: topic.author}, 'author' %}
					{% lookup 'forums', {_id: topic.parent}, 'forum' %}
					{% lookup 'categories', {_id: forum.category}, 'category' %}

					{% if not category.role or user.role >= category.role %}
						<li class="mb-2">
							{% if topic.sortAuthor %}
								{% lookup 'users', {_id: topic.sortAuthor}, 'sortAuthor' %}
								<a href="/members/{{sortAuthor.nicename}}">{{sortAuthor.display_name}}</a> replied to
							{% endif %}

							<a href="/forums/{{forum.slug}}/{{topic._id}}">{{topic.title}}</a> by <a href="/members/{{author.nicename}}">{{author.display_name}}</a>
							{% if crp.moment().diff(crp.moment(topic.date), 'days') < 3 %}
								<span class="badge badge-primary">New</span>
							{% endif %}
							<br />
							<span>{{crp.moment(topic.sortDate).fromNow()}}</span>
						</li>
						{% set i = i + 1 %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="bg-white shadow-sm rounded mt-3 p-3">
		<h4 class="font-weight-bold">Help Us</h4>
		<hr />
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="S7UPCZZ9UYXZ6">
			<input type="image" src="{{crp.storage.getUrl(css.img.donate)}}" name="submit" width="100%" alt="PayPal - The safer, easier way to pay online!">
			<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0" alt="" />
		</form>
	</div>

	<div class="shadow-sm mt-3">
		<a href="https://discord.gg/6GaYTAY" target="_blank"><img src="{{crp.storage.getUrl(css.img.discord)}}" width="100%"></a>
	</div>

	<div class="shadow-sm mt-3">
		<iframe src="https://discordapp.com/widget?id=324988028768485376&theme=dark" width="100%" height="400" allowtransparency="true" frameborder="0"></iframe>
	</div>
</div>
