<div class="container p-0">
	<div class="bg-white shadow-sm rounded p-3">
		<h4 class="font-weight-bold">Upcoming Events</h4>
		<hr />

		{% query 'chapters', {}, {}, 'chapters' %}
		{% set gt = {$gt: crp.moment().toDate()} %}
		{% query 'events', {startDate: gt}, {sort: [[['startDate', 1]]], limit: 5}, 'events' %}
		{% if events.length > 0 %}
			{% for event in events %}
				{% set chapter = crp.util.findObjectInArray(chapters, '_id', event.chapter) %}
				{% set startDate = crp.moment(event.startDate).tz(user.timezone or 'America/New_York') %}
				<div class="pb-2">
					<a href="/events/{{event._id}}" class="font-weight-bold">{{event.name}}</a>
					<span class="float-right">
						<img src="{{chapter.getProfilePic()}}" class="mb-1" alt="{{chapter.name}}" width="20" height="20" />
						<a href="{{chapter.getURL()}}">{{chapter.name}}</a>
					</span>
					<br />
					<span class="text-muted" style="font-size:.9rem">
						{% if startDate.isSame(crp.moment(), 'day') %}
							Today at {{startDate.format('h:mm A')}}
						{% elseif startDate.isSame(crp.moment(), 'week') %}
							{{startDate.format('dddd [at] h:mm A')}}
						{% else %}
							{{startDate.format('ddd, MMMM Do [at] h:mm A')}}
						{% endif %}
					</span>
				</div>
			{% endfor %}
		{% else %}
			<i>There are no upcoming events.</i>
		{% endif %}

	</div>

	<div class="bg-white shadow-sm rounded mt-3 p-3">
		<h4 class="font-weight-bold">Recent Posts</h4>
		<hr />

		<ul class="pl-3">
			{% set i = 0 %}
			{% getTopics {}, false, 'sidebarTopics' %}
			{% for topic in sidebarTopics %}
				{% if i < 5 %}
					{% lookup 'users', {_id: topic.author}, 'author' %}
					{% lookup 'forums', {_id: topic.parent}, 'forum' %}
					{% lookup 'categories', {_id: forum.category}, 'category' %}

					{% if not category.role or user.role >= category.role %}
						<li class="mb-2">
							{% if topic.sortAuthor %}
								{% lookup 'users', {_id: topic.sortAuthor}, 'sortAuthor' %}
								<a href="/members/{{sortAuthor.nicename}}">{{sortAuthor.display_name}}</a> replied to
							{% endif %}

							<a href="/forums/{{forum.slug}}/{{topic._id}}">{{topic.title}}</a> by <a href="/members/{{author.nicename}}">{{author.display_name}}</a>
							{% if crp.moment().diff(crp.moment(topic.date), 'days') < 3 %}
								<span class="badge badge-primary">New</span>
							{% endif %}
							<br />
							<span>{{crp.moment(topic.sortDate).fromNow()}}</span>
						</li>
						{% set i = i + 1 %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="bg-white shadow-sm rounded mt-3 p-3">
		<h4 class="font-weight-bold">Help Us</h4>
		<hr />
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="S7UPCZZ9UYXZ6">
			<input type="image" src="{{crp.storage.getUrl(css.img.donate)}}" name="submit" width="100%" alt="PayPal - The safer, easier way to pay online!">
			<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" border="0" alt="" />
		</form>
	</div>

	<div class="shadow-sm mt-3">
		{% if user.role >= 1 %}
			<a href="/discord" class="redirect" target="_blank"><img src="{{crp.storage.getUrl(css.img.discord)}}" width="100%" /></a>
		{% else %}
			<a><img src="{{crp.storage.getUrl(css.img.discord)}}" width="100%" data-toggle="tooltip" data-placement="right" title="Please register and confirm your email address first, before joining our Discord." /></a>
		{% endif %}
	</div>

	<div class="shadow-sm mt-3">
		<iframe src="https://discordapp.com/widget?id=324988028768485376&theme=dark" width="100%" height="400" allowtransparency="true" frameborder="0"></iframe>
	</div>
</div>
