<style>
	.sidebar {
		width:25%;
	}

	.sidebar div h3 {
		border-bottom:2px solid {{css.colors.primary}};
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:20px;
		line-height:18px;
		margin-bottom:5px;
		padding-bottom:15px;
	}

	.sidebar div img {
		height:40px;
		width:40px;
	}

	.sidebar div.login-widget a {
		display:block;
	}
</style>
