<div id="login">
	{% include "./style.njk" %}

	<div class="login-background" onclick="$('#login').toggleClass('active')"></div>
	<form class="login-form" onsubmit="loginSubmit(this)">
		<label for="login">Username</label>
		<input type="text" name="login" placeholder="Username" />

		<label for="pass">Password</label>
		<input type="password" name="pass" placeholder="Password" />

		<div class="error-message"></div>

		<input type="checkbox" name="remember_me" class="remember_me" /> <input type="button" onclick="$('.remember_me').prop('checked', !$('.remember_me').prop('checked'))" value="Remember me" />
		<input type="button" value="Login" onclick="loginSubmit(this)">
	</form>

	{% include "./script.njk" %}
</div>
