<script>
	function loginSubmit(e) {
		var form = $(e).parent('.login-form');
		$(form).find('input[type=text]').removeClass('input-error');
		$(form).find('input[type=password]').removeClass('input-error');

		if ($(form).find('input[type=text]').val() == '') {
			$(form).find('input[type=text]').addClass('input-error');
			loginShowError(form, 'Username field cannot be empty!');
			return;
		}
		if ($(form).find('input[type=password]').val().length < 6) {
			$(form).find('input[type=password]').addClass('input-error');
			loginShowError(form, 'Passwords must be at least 6 characters!');
			return;
		}

		var formData = $(form).serialize();
		crpAjax('/login', formData, (response) => {
			if (response == 'valid') {
				location.reload();
			} else if (response == 'tooMany') {
				loginShowError(form, 'Too many failed login attempts. Please wait 5 minutes then try again.');
			} else if (response == 'locked') {
				loginShowError(form, 'Your account has been locked.');
			} else {
				loginShowError(form, 'Incorrect username or password');
			}
		});
	}

	function loginShowError(form, msg) {
		$(form).addClass('error');
		$(form).find('.error-message').html(msg);
		$(form).find('.error-message').addClass('wiggle');
		setTimeout(() => {
			$(form).find('.error-message').removeClass('wiggle');
		}, 500)
	}
</script>
