<script>
	$('.login-form').submit((e) => {
		e.preventDefault();
		$(e.target).find('input[type=text]').removeClass('input-error');
		$(e.target).find('input[type=password]').removeClass('input-error');

		if ($(e.target).find('input[type=text]').val() == '') {
			$(e.target).find('input[type=text]').addClass('input-error');
			loginShowError(e.target, 'Username field cannot be empty!');
			return;
		}
		if ($(e.target).find('input[type=password]').val().length < 6) {
			$(e.target).find('input[type=password]').addClass('input-error');
			loginShowError(e.target, 'Passwords must be at least 6 characters!');
			return;
		}

		var formData = $(e.target).serialize();
		crpAjax('/login', formData, (response) => {
			if (response == 'valid') {
				location.reload();
			} else if (response == 'tooMany') {
				loginShowError(e.target, 'Too many failed login attempts. Please wait 5 minutes then try again.');
			} else if (response == 'locked') {
				loginShowError(e.target, 'Your account has been locked.');
			} else {
				loginShowError(e.target, 'Incorrect username or password');
			}
		});
	});

	function loginShowError(form, msg) {
		$(form).addClass('error');
		$(form).find('.error-message').html(msg);
		$(form).find('.error-message').addClass('wiggle');
		setTimeout(() => {
			$(form).find('.error-message').removeClass('wiggle');
		}, 500)
	}
</script>
