<link rel="stylesheet" href="/css/posts/post.css">
<div class="post">
	<div class="post-header">
		{{#if post.img}}<img src="{{post.img}}" class="post-image" />{{/if}}
		<h1 class="post-title">{{post.title}}</h1>
	</div>
	<div class="post-content">{{html post.content}}</div>
</div>