{% if profile.user == user %}
	<form class="user-settings-form standard-form">
		<label for="user_login">Username</label>
		<div class="standard-input">
			<span class="user_login">{{user.login}}</span>
			<span class="input-error"></span>
		</div>

		<label for="user_email">Email Address</label>
		<div class="standard-input">
			<input type="text" name="user_email" class="user_email" value="{{user.email}}" />
			<span class="input-error"></span>
		</div>

		<label for="old_pass">Old Password</label>
		<div class="standard-input">
			<input type="password" name="old_pass" class="old_pass" value="" />
			<span class="input-error"></span>
		</div>

		<label for="new_pass">New Password</label>
		<div class="standard-input">
			<input type="password" name="new_pass" class="new_pass" value="" />
			<span class="input-error"></span>
		</div>

		<label for="new_pass">Confirm New Password</label>
		<div class="standard-input">
			<input type="password" name="confirm_new_pass" class="confirm_new_pass" value="" />
			<span class="input-error"></span>
		</div>

		<input type="hidden" name="user_id" class="user_id" value="{{user._id}}" />
		<input type="submit" value="Save" />
	</form>

	{% include "./script.njk" %}
{% endif %}
