{% lookup 'events', {_id: eventid}, 'event' %}
{% lookup 'users', {_id: event.creator}, 'creator' %}
{% lookup 'chapters', {_id: event.chapter}, 'chapter' %}
{% query 'users', {}, {sort: [[['display_name', 1]]]}, 'users' %}
{% set localStartDate = crp.moment(event.startDate).tz(user.timezone or 'America/New_York') %}
{% set localEndDate = crp.moment(event.endDate).tz(user.timezone or 'America/New_York') %}

<div class="container my-3">
	<div class="row">
		<div class="col-lg-9">
			<div class="container bg-white rounded shadow-sm">
				<div class="row bg-primary text-light rounded-top">
					<a href="/events" class="col-1 text-left text-light">
						<i class="fas fa-angle-left fa-2x mt-1"></i>
					</a>
					<div class="col-10 text-center p-2">
						<h5 class="m-0">{{event.name}}</h5>
					</div>
					<div class="col-1"></div>
				</div>

				<div class="row p-3 border-bottom">
					<i class="col-1 far fa-clock fa-2x pr-4 pr-lg-0"></i>
					<div class="col-7 col-lg-10">
						<b>
							{% if event.recurring == 'none' %}
								{{localStartDate.format('dddd, MMMM Do')}}
							{% elif event.recurring == 'daily' %}
								Everyday
							{% elif event.recurring == 'weekly' %}
								Every {{localStartDate.format('dddd')}}
							{% elif event.recurring == 'monthly' %}
								Every {{localStartDate.format('Do')}}
							{% endif %}
						</b>
						<br />
						<h6 class="font-weight-bold" style="font-size:.9rem">
							{{localStartDate.format('h:mma')}} -
							{% if localEndDate.isSame(localStartDate, 'day') %}
								{{localEndDate.format('h:mma')}}
							{% else %}
								{{localEndDate.format('MMM D, h:mma')}}
							{% endif %}
						</h6>
					</div>
					<div class="col-3 col-lg-1 text-right mt-lg-2 pr-0 pr-lg-3">
						{% if user and (user._id.equals(creator._id) or user.role >= 3) %}
							<a onclick="event.stopPropagation(); removeEvent('{{event._id}}')" class="fas fa-trash-alt pointer muted-hover" data-toggle="tooltip" data-placement="right" title="Delete Event"></a>
						{% endif %}
					</div>
				</div>

				<div class="row p-3 border-bottom">
					<div class="col-1 pr-4 pr-lg-0"><img class="" src="{{chapter.getProfilePic()}}" width="30" height="30" /></div>
					<span class="col-10 font-weight-bold"><a href="{{chapter.getURL()}}">{{chapter.name}}</a></span>
				</div>

				<div class="row p-3 border-bottom">
					<div class="col-1 pr-4 pr-lg-0"><img class="" src="{{creator.getProfilePic()}}" width="30" height="30" /></div>
					<span class="col-10 font-weight-bold">Created by <a href="/members/{{creator.nicename}}">{{creator.display_name}}</a></span>
				</div>

				<div class="row p-3 border-bottom">
					<div class="col-1 pr-4 pr-lg-0">
						<i class="fas fa-users fa-2x"></i>
					</div>
					<span class="col-11 d-flex flex-wrap">
						{% if event.rsvp and event.rsvp.length > 0 %}
							{% for userid in event.rsvp %}
								{% set rsvp = crp.util.findObjectInArray(users, '_id', userid) %}
								<div class="mr-2 mb-2">
									<img class="" src="{{rsvp.getProfilePic()}}" width="30" height="30" />
									<a href="/members/{{rsvp.nicename}}">{{rsvp.display_name}}</a>
								</div>
							{% endfor %}
						{% else %}
							<i>No one has RSVP'd yet :(</i>
						{% endif %}

						<div class="align-self-end ml-auto">
							{% if not creator._id.equals(user._id) and crp.moment().isBefore(event.startDate) %}
								{% if crp.util.idInArray(event.rsvp, user._id) %}
									<button type="button" class="btn btn-sm btn-success" onclick="unRSVP('{{event._id}}')">Not Going</button>
								{% else %}
									<button type="button" class="btn btn-sm btn-success" onclick="RSVP('{{event._id}}')">RSVP</button>
								{% endif %}
							{% endif %}
						</div>
					</span>
				</div>

				<div class="row p-3">
					<i class="col-1 fas fa-align-left fa-2x pr-4 pr-lg-0"></i>
					<p class="col-10">
						{% if event.desc and event.desc != '' %}
							{{event.desc}}
						{% else %}
							<i>No description</i>
						{% endif %}
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 d-none d-lg-block">
			{% include "components/sidebar/index.njk" %}
		</div>
	</div>
</div>

{% include "./script.njk" %}
