{% include "./style.njk" %}
{% lookup 'site', {}, {}, 'site' %}

<form class="site-settings-form standard-form">
	<label for="site_name">Site Title</label>
	<div class="standard-input">
		<input type="text" name="site_name" class="site_name" value="{{site.name}}" />
	</div>

	<label for="site_tagline">Site Tagline</label>
	<div class="standard-input">
		<input type="text" name="site_tagline" class="site_tagline" value="{{site.tagline}}" />
	</div>

	<label for="mail_template">Email Template</label>
	<div class="standard-input">
		<textarea name="mail_template" class="mail_template tinymce">{{site.mail_template}}</textarea>
		<script>crpTinyMCE()</script>
	</div>

	<input type="submit" value="Save" />
	<span class="site-saved">Saved!</span>
</form>

{% include "./script.njk" %}
