<script>
	$('.site-settings-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = $(e.target).serialize();
		crpAjax('/api/admin/edit-site', formData, (res) => {
			if (typeof res == 'object') {
				$('.site-title a').html(res.name);
				$('.site-description').html(res.tagline);

				$(e.target).find('.site-saved').addClass('active');
				setTimeout(() => {
					$(e.target).find('.site-saved').removeClass('active');
				}, 5000);
			} else {
				console.error(res);
			}
		});
	});
</script>
