<style>
	.site-settings-form {
		margin:-0.0625em 0 0 0.0625em; /* 1/16 */ /* 1/16 */
	}

	.site-settings-form .site_tagline {
		width:50%;
	}

	.site-settings-form input[type=submit] {
		margin-right:0.625em; /* 10/16 */
	}

	.site-settings-form .site-saved {
		color:#55ff55;
		display:none;
		float:right;
		margin-top:1.875em; /* 30/16 */
		padding:0.3125em 0.625em; /* 5/16 */ /* 10/16 */
	}

	.site-settings-form .site-saved.active {
		display:initial;
	}
</style>
