<style>
	.site-settings-form {
		margin:-1px 0 0 1px;
	}

	.site-settings-form .site_tagline {
		width:50%;
	}

	.site-settings-form input[type=submit] {
		margin-right:10px;
	}

	.site-settings-form .site-saved {
		color:#55ff55;
		display:none;
		float:right;
		margin-top:30px;
		padding:5px 10px;
	}

	.site-settings-form .site-saved.active {
		display:initial;
	}
</style>
