<div id="admin-settings">
	{% include "./style.njk" %}

	<div class="admin-menu">
		<ul>
			<li onclick="crpGetSubPage('/admin/users', '.admin-content', true)">Users</li>
			<li onclick="crpGetSubPage('/admin/posts', '.admin-content', true)">Posts</li>
			<li onclick="crpGetSubPage('/admin/forums', '.admin-content', true)">Forums</li>
			<li onclick="crpGetSubPage('/admin/settings', '.admin-content', true)">Settings</li>
		</ul>
	</div>

	<div class="admin-content">
		{% include "pages" + subPage %}
	</div>
</div>
