<style>
	#admin-settings {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}

	#admin-settings .admin-menu {
		background-color:{{css.colors.primary}};
		float:left;
		min-height:31.25em; /* 500/16 */
		width:25%;
	}

	#admin-settings .admin-menu ul li {
		cursor:pointer;
		border-bottom:0.0625em solid {{css.colors.bg}}; /* 1/16 */
		list-style:none;
		padding:0.625em; /* 10/16 */
		text-align:center;
	}

	#admin-settings .admin-menu ul li:hover {
		background-color:{{css.colors.header}};
	}

	#admin-settings .admin-content {
		float:left;
		width:75%;
	}
</style>
