<link rel="stylesheet" href="/css/forums/forums.css">
<ul class="forums">
	{{#each crp.global.categories}}
		<li class="category">
			<ul>
				<li>{{this.name}}</li>
				<li>Topics</li>
				<li>Posts</li>
				<li>Most Recent</li>
			</ul>
		</li>
		
		{{#eachForumByCategory this._id}}
			<li class="forum">
				<ul>
					<li>
						<a class="forum-name">{{this.name}}</a>
						<div class="forum-desc">{{this.desc}}</div>
					</li>
					<li>0</li>
					<li>0</li>
					<li>No Topics</li>
				</ul>
			</li>
		{{/eachForumByCategory}}
	{{/each}}
</ul>