<link rel="stylesheet" href="/css/forums/forum.css">
<div class="forum">
	<table>
	{{#each crp.global.categories}}
		<tr class="category">
			<th>{{this.name}}</th>
			<td>Topics</td>
			<td>Posts</td>
			<td>Most Recent</td>
		</tr>
		<tr>
			
		</tr>
	{{/each}}
	</table>
</div>