<div class="page">
	{% include "./style.njk" %}
	{% lookup 'users', {_id: userid}, 'user' %}

	<div class="chapters">
		{% include "pages" + subPage %}
	</div>

	{% include "components/sidebar/index.njk" %}
</div>
