<style>
	.chapters {
		width:75%;
	}

	.chapters li {
		list-style-type:none;
	}

	.chapters .header {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}

	.chapters .header li {
		background-color:{{css.colors.primary}};
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		list-style-type:none;
		padding:0.375em 1.25em; /* 6/16 */ /* 20/16 */
		margin-right:0.0625em; /* 1/16 */
		-webkit-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out;
	}

	.chapters .header li:hover,
	.chapters .header li.active {
		background-color:{{css.colors.header}};
		cursor:pointer;
	}
</style>
