<script>
	$('.chapter-edit-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = new FormData(e.target);
		crpAjaxUpload('/api/edit-chapter', formData, (res) => {
			if (typeof res == 'object') {
				crpGetPage(window.location.pathname);
			} else {
				switch (res) {
					default:
						console.log(res);
				}
			}
		});
	});
</script>
