<script>
	$('.chapter-edit-form').submit((e) => {
		e.preventDefault();
		tinymce.triggerSave();

		var formData = new FormData(e.target);
		crpAjaxUpload('/api/edit-chapter', formData, (res) => {
			if (res._id) {
				crpGetPage(window.location.pathname);
			} else {
				if (res == 'noGame') {
					$('.chapter-edit-form .game').parent().addClass('error');
					$('.chapter-edit-form .game + .input-error').html('You must select a valid game.');
				} else if (res == 'badDiscord') {
					$('.chapter-edit-form .discord').parent().addClass('error');
					$('.chapter-edit-form .discord + .input-error').html('Discord ID invalid!');
				} else if (res == 'badTagline') {
					$('.chapter-edit-form .tagline').parent().addClass('error');
					$('.chapter-edit-form .tagline + .input-error').html('Tagline cannot be greater than 140 characters.');
				} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'profile_pic') {
					$('.chapter-edit-form .profile_pic').parent().addClass('error');
					$('.chapter-edit-form .profile_pic + .input-error').html('File size must be < 2 MB');
				} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'cover_pic') {
					$('.chapter-edit-form .cover_pic').parent().addClass('error');
					$('.chapter-edit-form .cover_pic + .input-error').html('File size must be < 2 MB');
				} else {
					console.error(res);
					$('.chapter-edit-form .game').parent().addClass('error');
					$('.chapter-edit-form .game + .input-error').html('Something went wrong :(');
				}
			}
		});
	});
</script>
