<div class="container">
	<nav class="nav nav-tabs justify-content-center mt-3 d-lg-none">
		<a class="nav-link" href="/members/{{profile.nicename}}">Activity</a>
		<a class="nav-link" href="/members/{{profile.nicename}}/chapters">Chapters</a>
		<a class="nav-link active" href="/members/{{profile.nicename}}/messages">Messages</a>
		<a class="nav-link" href="/members/{{profile.nicename}}/account">Account</a>
	</nav>

	<div class="row mt-lg-3">
		<div class="col-lg-9">

		</div>

		<div class="col-lg-3">
			<nav class="nav nav-tabs nav-vertical-tabs flex-column justify-content-center mt-2 d-none d-lg-block">
				<a class="nav-link" href="/members/{{profile.nicename}}">Activity</a>
				<a class="nav-link" href="/members/{{profile.nicename}}/chapters">Chapters</a>
				<a class="nav-link active" href="/members/{{profile.nicename}}/messages">Messages</a>
				<a class="nav-link" href="/members/{{profile.nicename}}/account">Account</a>
			</nav>
		</div>
	</div>
</div>
