{% query 'chapters', {}, {sort: [[['name', 1]]]}, 'chapters' %}
{% query 'events', {}, {sort: [[['startDate', 1]]]}, 'events' %}
{% set offset = query.offset or 0 %}
{% set moment = crp.moment().tz(user.timezone or 'America/New_York').add(offset, 'months') %}

<div class="row bg-primary text-center text-light p-2 rounded-top">
	<a href="/events?offset={{offset|int - 1}}" class="col-1 text-left text-light" container="#calendar" newurl="true">
		<i class="fas fa-angle-left fa-2x"></i>
	</a>
	<div class="col-10">
		<h5 class="mb-0 mt-1">{{moment.format('MMMM, YYYY')}}</h5>
	</div>
	<a href="/events?offset={{offset|int + 1}}" class="col-1 text-right text-light" container="#calendar" newurl="true">
		<i class="fas fa-angle-right fa-2x"></i>
	</a>
</div>

<div class="row border-bottom">
	<div class="col p-2">Sun</div>
	<div class="col border-left p-2">Mon</div>
	<div class="col border-left p-2">Tue</div>
	<div class="col border-left p-2">Wed</div>
	<div class="col border-left p-2">Thu</div>
	<div class="col border-left p-2">Fri</div>
	<div class="col border-left p-2">Sat</div>
</div>

{% set month = crp.calendar(offset) %}
{% for week in month %}
	{% set firstWeek = loop.first %}
	<div class="row">
		{% for day in week %}
			<div class="col day pb-1 {% if not firstWeek %}border-top{% endif %} {% if not loop.first %}border-left{% endif %} {% if not crp.moment(day).isSame(moment, 'month') %}bg-light{% endif %}">
				<div class="row p-2">
					<div class="rounded-circle ml-auto px-2 py-1 {% if crp.moment(day).tz(user.timezone or 'America/New_York').isSame(crp.moment(), 'day') %}bg-primary text-light{% endif %}">
						{{crp.moment(day).format('DD')}}
					</div>
				</div>

				{% set hasEvent = false %}
				{% for event in events %}
					{% set chapter = crp.util.findObjectInArray(chapters, '_id', event.chapter) %}
					{% set startDate = crp.moment(event.startDate).tz(user.timezone or 'America/New_York') %}
					{% if startDate.isSame(crp.moment(day), 'day') or (crp.moment(day).isAfter(startDate) and (event.recurring == 'daily' or (event.recurring == 'weekly' and startDate.day() == crp.moment(day).day()) or (event.recurring == 'monthly' and startDate.date() == crp.moment(day).date()))) %}
						{% if not hasEvent %}<hr class="m-0" />{% endif %}
						<div class="row px-2 {% if not hasEvent %}pt-2{% endif %} pb-1">
							<a href="/events/{{event._id}}" class="event flex-fill text-light rounded px-2 py-1" style="background-color:{{chapter.eventColor or '#53377F'}}">
								<span>{{event.name}}</span>
								<span class="float-right">{{startDate.format('h:mm A')}}</span>
							</a>
						</div>
						{% set hasEvent = true %}
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endfor %}
