{% include "./style.njk" %}
{% lookup 'users', {_id: userid}, 'user' %}
{% lookup 'chapters', {_id: chapterid}, 'chapter' %}
{% query 'users', {}, {sort: [['display_name', 1]]}, 'users' %}

{% set 'leaders' = crp.util.filterObjectArray(chapter.members, {role: 2}) %}
{% set 'members' = crp.util.filterObjectArray(chapter.members, {role: 1}) %}

<div class="members">
	<div class="section">
		<div class="divider">Leaders</div>
		{% if leaders.length > 0 %}
			{% for member in leaders %}
				{% set member = crp.util.findObjectInArray(users, '_id', member._id.toString()) %}
				<ul>
					<li><a href="/members/{{member.nicename}}"><img class="profile-pic" src="{{crp.members.getProfilePic(member)}}" /></a></li>
					<li>
						<h1><a href="/members/{{member.nicename}}">{{member.display_name}}</a></h1>
						{% if crp.chapters.getMember(chapter, user._id).role >= 2 or user.role >= 3 %}
							<span><a onclick="removeChapterMember('{{chapter._id}}', '{{member._id}}')">Kick</a> | <a onclick="demoteChapterMember('{{chapter._id}}', '{{member._id}}')">Demote</a></span>
						{% endif %}
					</li>
				</ul>
			{% endfor %}
		{% else %}
			<div class="warning">{{chapter.name}} has no leaders :(</div>
		{% endif %}
	</div>

	<div class="section">
		<div class="divider">Members</div>
		{% if members.length > 0 %}
			{% for member in members %}
				{% set member = crp.util.findObjectInArray(users, '_id', member._id.toString()) %}
				<ul>
					<li><a href="/members/{{member.nicename}}"><img class="profile-pic" src="{{crp.members.getProfilePic(member)}}" /></a></li>
					<li>
						<h1><a href="/members/{{member.nicename}}">{{member.display_name}}</a></h1>
						{% if crp.chapters.getMember(chapter, user._id).role >= 2 or user.role >= 3 %}
							<span><a onclick="removeChapterMember('{{chapter._id}}', '{{member._id}}')">Kick</a> | <a onclick="promoteChapterMember('{{chapter._id}}', '{{member._id}}')">Promote</a></span>
						{% endif %}
					</li>
				</ul>
			{% endfor %}
		{% else %}
			<div class="warning">{{chapter.name}} has no members :(</div>
		{% endif %}
	</div>

	{% if crp.chapters.getMember(chapter, user._id).role >= 2 or user.role >= 3 %}
		<div class="section invite">
			<div class="divider">Invite</div>
			<div class="list">
				{% for user in users %}
					{% set member = crp.chapters.getMember(chapter, user._id) %}
					{% if not member or member.role == 0 %}
						<ul>
							<li><a href="/members/{{user.nicename}}"><img class="profile-pic" src="{{crp.members.getProfilePic(user)}}" /></a></li>
							<li>
								<h1><a href="/members/{{user.nicename}}">{{user.display_name}}</a></h1>
								<span>
									{% if not member %}
										<a onclick="inviteChapterMember('{{chapter._id}}', '{{user._id}}')">Invite</a>
									{% else %}
										<a onclick="removeChapterMember('{{chapter._id}}', '{{user._id}}')">Revoke Invite</a>
									{% endif %}
								</span>
							</li>
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>

{% include "./script.njk" %}
