<script>
	function promoteChapterMember(chapterid, userid) {
		crpAjax('/api/promote-chapter-member', {chapterid: chapterid, userid: userid}, (res) => {
			if (typeof res == 'object') {
				crpGetSubPage(window.location.pathname, '.chapter .content', true)
			} else {
				console.log(res);
			}
		});
	}

	function demoteChapterMember(chapterid, userid) {
		crpAjax('/api/demote-chapter-member', {chapterid: chapterid, userid: userid}, (res) => {
			if (typeof res == 'object') {
				crpGetSubPage(window.location.pathname, '.chapter .content', true)
			} else {
				console.log(res);
			}
		});
	}

	function removeChapterMember(chapterid, userid) {
		crpAjax('/api/remove-chapter-member', {chapterid: chapterid, userid: userid}, (res) => {
			if (typeof res == 'object') {
				crpGetSubPage(window.location.pathname, '.chapter .content', true)
			} else {
				console.log(res);
			}
		});
	}

	function inviteChapterMember(chapterid, userid) {
		crpAjax('/api/invite-chapter-member', {chapterid: chapterid, userid: userid}, (res) => {
			if (typeof res == 'object') {
				crpGetSubPage(window.location.pathname, '.chapter .content', true)
			} else {
				console.log(res);
			}
		});
	}
</script>
