<style>
	.chapter .members .divider {
		background-color:{{css.colors.primary}};
		margin-top:0.0625em; /* 1/16 */
		min-height:2.375em; /* 38/16 */
		padding:0.625em; /* 10/16 */
	}

	.chapter .members {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
	}

	.chapter .members .section {
		border-right:0.0625em solid {{css.colors.bg}}; /* 1/16 */
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		-webkit-box-flex:1;
		-ms-flex-positive:1;
		flex-grow:1;
	}

	.chapter .members .section:last-child {
		border-right:none;
	}

	.chapter .members .warning {
		margin-top:0.625em; /* 10/16 */
	}

	.chapter .members ul {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		list-style-type:none;
		padding:0.625em; /* 10/16 */
	}

	.chapter .members ul li .profile-pic {
		height:3.125em; /* 50/16 */
		margin-right:0.625em; /* 10/16 */
		width:3.125em; /* 50/16 */
	}

	.chapter .members ul li h1 a {
		color:{{css.colors.font}};
	}

	.chapter .members ul li h1 a:hover {
		color:#888;
		text-decoration:none;
	}

	.chapter .members ul li span {
		font-size:0.8125em; /* 13/16 */
	}

	.chapter .members .invite {
		-ms-flex-preferred-size:30%;
		flex-basis:30%;
		-webkit-box-flex:0;
		-ms-flex-positive:0;
		flex-grow:0;
	}

	.chapter .members .invite .list {
		max-height:31.25em; /* 500/16 */
		overflow-y:scroll;
	}
</style>
