{% include "./style.njk" %}

<li class="step hosted cms disabled">
	<div class="radio noselect">
		<div class="option">
			<input type="radio" name="cms" value="wordpress" />
			<label for="cms" onclick="labelClick(this)">
				<img src="{{crp.storage.getUrl(css.img.wordpress)}}" />
				<h1>Wordpress</h1>
				<a href="https://wordpress.org/" target="_blank">[More Info]</a>
			</label>
		</div>

		<div class="option disabled">
			<input type="radio" name="cms" value="drupal" disabled />
			<label for="cms" onclick="labelClick(this)">
				<img src="{{crp.storage.getUrl(css.img.drupal)}}" />
				<h1>Drupal</h1>
				<a href="https://www.drupal.org/" target="_blank">[More Info]</a>
			</label>
		</div>

		<div class="option disabled">
			<input type="radio" name="cms" value="joomla" disabled />
			<label for="cms" onclick="labelClick(this)">
				<img src="{{crp.storage.getUrl(css.img.joomla)}}" />
				<h1>Joomla</h1>
				<a href="https://www.joomla.org/" target="_blank">[More Info]</a>
			</label>
		</div>

		<div class="option disabled">
			<input type="radio" name="cms" value="phpbb" disabled />
			<label for="cms" onclick="labelClick(this)">
				<img src="{{crp.storage.getUrl(css.img.phpBB)}}" />
				<h1>phpBB</h1>
				<a href="https://www.phpbb.com/" target="_blank">[More Info]</a>
			</label>
		</div>
	</div>
</li>

<li class="step hosted details disabled">
	<div class="standard-form">
		<label for="name" required>Chapter Name</label>
		<div class="standard-input">
			<input type="text" name="name" value="">
		</div>

		<label for="slug">Domain</label>
		<div class="standard-input">
			<input type="text" name="slug" value=""> .chroniclesrp.com
		</div>

		<label for="game" required>Game</label>
		<div class="standard-input">
			{% query 'games', {}, {sort: [['name', 1]]}, 'games' %}

			<select name="game">
				{% for game in games %}
					<option value="{{game._id}}">{{game.name}}</option>
				{% endfor %}
			</select>
		</div>

		<label for="tagline">Tagline</label>
		<div class="standard-input">
			<input type="text" name="tagline" value="">
		</div>

		<label for="discord">Discord ID</label>
		<div class="standard-input">
			<input type="text" name="discord" value="">
		</div>
	</div>
</li>

{% include "./script.njk" %}
