{% include "./style.njk" %}

<li class="step hosted cms disabled">
	<div class="radio noselect">
		<div class="option">
			<input type="radio" name="cms" value="wordpress" />
			<label for="cms" onclick="labelClick(this)">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/WordPress_blue_logo.svg/1200px-WordPress_blue_logo.svg.png" />
				<h1>Wordpress</h1>
				<a href="https://wordpress.org/" target="_blank">[More Info]</a>
			</label>
		</div>

		<div class="option">
			<input type="radio" name="cms" value="drupal" />
			<label for="cms" onclick="labelClick(this)">
				<img src="http://adilserv.com/wp-content/uploads/2017/03/druplicon_sphism_2015_1.png" />
				<h1>Drupal</h1>
				<a href="https://www.drupal.org/" target="_blank">[More Info]</a>
			</label>
		</div>

		<div class="option">
			<input type="radio" name="cms" value="joomla" />
			<label for="cms" onclick="labelClick(this)">
				<img src="https://docs.joomla.org/images/0/02/Joomla-flat-logo-en.png" />
				<h1>Joomla</h1>
				<a href="https://www.joomla.org/" target="_blank">[More Info]</a>
			</label>
		</div>

		<div class="option">
			<input type="radio" name="cms" value="phpbb" />
			<label for="cms" onclick="labelClick(this)">
				<img src="https://www.phpbb.com/assets/images/images/logos/blue/125x125.png" />
				<h1>phpBB</h1>
				<a href="https://www.phpbb.com/" target="_blank">[More Info]</a>
			</label>
		</div>
	</div>
</li>

<li class="step hosted details disabled">
	<div class="standard-form">
		<label for="name" required>Chapter Name</label>
		<div class="standard-input">
			<input type="text" name="name" value="">
		</div>

		<label for="slug">Domain</label>
		<div class="standard-input">
			<input type="text" name="slug" value=""> .chroniclesrp.com
		</div>

		<label for="game" required>Game</label>
		<div class="standard-input">
			{% query 'games', {}, {sort: [['name', 1]]}, 'games' %}

			<select name="game">
				{% for game in games %}
					<option value="{{game._id}}">{{game.name}}</option>
				{% endfor %}
			</select>
		</div>

		<label for="desc">Description</label>
		<div class="standard-input">
			<input type="text" name="desc" value="">
		</div>

		<label for="discord">Discord ID</label>
		<div class="standard-input">
			<input type="text" name="discord" value="">
		</div>
	</div>
</li>

{% include "./script.njk" %}
