<script>
	$('.add-chapter .cms label a').click((e) => {
		e.stopPropagation();
	});

	$('.add-chapter .cms input').change((e) => {
		if (e.target.checked) {
			$('.add-chapter .hosted.details').removeClass('disabled');
			$('.add-chapter .nav .next').removeClass('disabled');
			multistepNext($('.add-chapter .nav .next'));
			$('.add-chapter .header').html('type › hosted › ' + e.target.value);
		}
	});
</script>
