{% lookup 'users', {_id: profileid}, 'profile' %}
{% lookup 'users', {_id: userid}, 'user' %}

{% if profile._id.equals(user._id) %}
	<form class="user-account-form standard-form">
		<label for="display_name">Display Name</label>
		<div class="standard-input">
			<input type="text" name="display_name" class="display_name" value="{{profile.display_name}}" />
			<span class="input-error"></span>
		</div>

		<label for="user_dob">Date of Birth</label>
		<div class="standard-input">
			<input type="text" name="user_dob" class="user_dob" value="{{profile.date_of_birth}}" />
			<span class="input-error"></span>
		</div>

		<label for="user_timezone">Timezone</label>
		<div class="standard-input">
			<select name="user_timezone" class="user_timezone">
				{% for tz in timezones %}
					<option value="{{tz}}" {% if tz == profile.timezone %}selected{% endif %}>{{tz.replace('_', ' ')}}</option>
				{% endfor %}
			</select>
			<span class="input-error"></span>
		</div>

		<label for="user_gender">Gender</label>
		<div class="standard-input">
			<select name="user_gender" class="user_gender">
				<option value="---" {% if profile.gender == '---' %}selected{% endif %}>---</option>
				<option value="Female" {% if profile.gender == 'Female' %}selected{% endif %}>Female</option>
				<option value="Male" {% if profile.gender == 'Male' %}selected{% endif %}>Male</option>
				<option value="Bolian" {% if profile.gender == 'Bolian' %}selected{% endif %}>Bolian</option>
			</select>
			<span class="input-error"></span>
		</div>

		<label for="user_tagline">Tagline</label>
		<div class="standard-input">
			<input type="text" name="user_tagline" class="user_tagline" value="{{profile.tagline}}" />
			<span class="input-error"></span>
		</div>

		<label for="profile_pic">Profile Picture</label>
		<div class="standard-input">
			{% if user.img.profile %}
				<img class="profile-pic" src="{{crp.members.getProfilePic(profile)}}" width="150px" height="150px" />
			{% endif %}
			<input type="file" name="profile_pic" class="profile_pic" />
			<span class="input-error"></span>
		</div>

		<label for="cover_pic">Cover Image</label>
		<div class="standard-input">
			{% if user.img.cover %}
				<img class="cover-pic" src="{{crp.members.getCoverPic(profile)}}" height="150px" />
			{% endif %}
			<input type="file" name="cover_pic" class="cover_pic" />
			<span class="input-error"></span>
		</div>

		<label for="user_about" class="fill">About Me</label>
		<div class="standard-input fill">
			<textarea name="user_about" class="user_about tinymce">{{profile.about}}</textarea>
			<script>crpTinyMCE()</script>
			<span class="input-error"></span>
		</div>

		<input type="hidden" name="user_id" class="user_id" value="{{profile._id}}" />
		<input type="submit" value="Save" />
	</form>

	{% include "./script.njk" %}
{% endif %}
