<script>
	$('#account-form').submit((e) => {
		e.preventDefault();

		$('#account-form-login').removeClass('is-invalid');
		$('#account-form-display_name').removeClass('is-invalid');
		$('#account-form-gender').removeClass('is-invalid');
		$('#account-form-dob').removeClass('is-invalid');
		$('#account-form-timezone').removeClass('is-invalid');
		$('#account-form-email').removeClass('is-invalid');
		$('#account-form-old-pass').removeClass('is-invalid');
		$('#account-form-new-pass').removeClass('is-invalid');
		$('#account-form-new-pass-confirm').removeClass('is-invalid');
		$('#account-form-profile_pic').removeClass('is-invalid');
		$('#account-form-cover_pic').removeClass('is-invalid');

		var formData = new FormData(e.target);
		crpAjaxUpload('/api/edit-user', formData, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else if (res.errors) {
				if (res.errors.display_name) {
					$('#account-form-display_name').next('.invalid-feedback').html(res.errors.display_name.message);
					$('#account-form-display_name').addClass('is-invalid');
				}
				if (res.errors.gender) {
					$('#account-form-gender').next('.invalid-feedback').html(res.errors.gender.message);
					$('#account-form-gender').addClass('is-invalid');
				}
				if (res.errors.date_of_birth) {
					$('#account-form-dob').next('.invalid-feedback').html(res.errors.date_of_birth.message);
					$('#account-form-dob').addClass('is-invalid');
				}
				if (res.errors.timezone) {
					$('#account-form-timezone').next('.invalid-feedback').html(res.errors.timezone.message);
					$('#account-form-timezone').addClass('is-invalid');
				}
				if (res.errors.email) {
					$('#account-form-email').next('.invalid-feedback').html(res.errors.email.message);
					$('#account-form-email').addClass('is-invalid');
				}
				if (res.errors.pass) {
					$('#account-form-old-pass').next('.invalid-feedback').html(res.errors.pass.message);
					$('#account-form-old-pass').addClass('is-invalid');
				}
			} else if (res == 'emailInvalid') {
				$('#account-form-email').next('.invalid-feedback').html('Invalid email address!');
				$('#account-form-email').addClass('is-invalid');
			} else if (res == 'emailTaken') {
				$('#account-form-email').next('.invalid-feedback').html('Email address is already in use!');
				$('#account-form-email').addClass('is-invalid');
			} else if (res == 'passMismatch') {
				$('#account-form-old-pass').next('.invalid-feedback').html('Wrong password!');
				$('#account-form-old-pass').addClass('is-invalid');
			} else if (res == 'passLength') {
				$('#account-form-new-pass').next('.invalid-feedback').html('New password must be at least 6 characters!');
				$('#account-form-new-pass').addClass('is-invalid');
			} else if (res == 'newPassMismatch') {
				$('#account-form-new-pass-confirm').next('.invalid-feedback').html('Passwords don\'t match!');
				$('#account-form-new-pass-confirm').addClass('is-invalid');
			} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'profile_pic') {
				$('#account-form-profile_pic').next('.invalid-feedback').html('File size must be < 2 MB!');
				$('#account-form-profile_pic').addClass('is-invalid');
			} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'cover_pic') {
				$('#account-form-cover_pic').next('.invalid-feedback').html('File size must be < 2 MB!');
				$('#account-form-cover_pic').addClass('is-invalid');
			} else {
				console.error(res);
				$('#account-form-login').next('.invalid-feedback').html('Something went wrong :(');
				$('#account-form-login').addClass('is-invalid');
			}
		});
	});
</script>
