<script>
	$('#account-form').submit((e) => {
		e.preventDefault();

		var formData = new FormData(e.target);
		crpAjaxUpload('/api/edit-user', formData, (res) => {
			if (res === true) {
				crpGetPage(window.location.pathname);
			} else if (res == 'displayNameLength') {
				$('#account-form-display_name').next('.invalid-feedback').html('Display Name must be at least 4 characters and no greater than 80 characters!');
				$('#account-form-display_name').addClass('is-invalid');
			} else if (res == 'genderInvalid') {
				$('#account-form-gender').next('.invalid-feedback').html('Invalid gender!');
				$('#account-form-gender').addClass('is-invalid');
			} else if (res == 'dobInvalid') {
				$('#account-form-dob').next('.invalid-feedback').html('Date format invalid!');
				$('#account-form-dob').addClass('is-invalid');
			} else if (res == 'tzInvalid') {
				$('#account-form-timezone').next('.invalid-feedback').html('Invalid timezone!');
				$('#account-form-timezone').addClass('is-invalid');
			} else if (res == 'emailInvalid') {
				$('#account-form-email').next('.invalid-feedback').html('Invalid email address!');
				$('#account-form-email').addClass('is-invalid');
			} else if (res == 'emailTaken') {
				$('#account-form-email').next('.invalid-feedback').html('Email address is already in use!');
				$('#account-form-email').addClass('is-invalid');
			} else if (res == 'passMismatch') {
				$('#account-form-old-pass').next('.invalid-feedback').html('Wrong password!');
				$('#account-form-old-pass').addClass('is-invalid');
			} else if (res == 'passLength') {
				$('#account-form-new-pass').next('.invalid-feedback').html('New password must be at least 6 characters!');
				$('#account-form-new-pass').addClass('is-invalid');
			} else if (res == 'newPassMismatch') {
				$('#account-form-new-pass-confirm').next('.invalid-feedback').html('Passwords don\'t match!');
				$('#account-form-new-pass-confirm').addClass('is-invalid');
			} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'profile_pic') {
				$('#account-form-profile_pic').next('.invalid-feedback').html('File size must be < 2 MB!');
				$('#account-form-profile_pic').addClass('is-invalid');
			} else if (res.code == 'LIMIT_FILE_SIZE' && res.field == 'cover_pic') {
				$('#account-form-cover_pic').next('.invalid-feedback').html('File size must be < 2 MB!');
				$('#account-form-cover_pic').addClass('is-invalid');
			} else {
				console.error(res);
				$('#account-form-login').next('.invalid-feedback').html('Something went wrong :(');
				$('#account-form-login').addClass('is-invalid');
			}
		});
	});
</script>
