<style>
	.chapter .content .desc h1 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:2.25em; /* 36/16 */
		font-weight:bold;
		margin-bottom:0.6944444444444444em; /* 25/36 */
		text-transform:uppercase;
	}

	.chapter .content .desc h2 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1em;
		margin-bottom:1.5625em; /* 25/16 */
		text-transform:uppercase;
	}

	.chapter .content .desc h3 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:0.8em; /* 12/16 */
		margin:2.0833333333333335em 0; /* 25/12 */
		text-transform:uppercase;
	}

	.chapter .content .desc h4 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:1.25em;
		margin:1.25em 0; /* 25/20 */
		text-transform:uppercase;
	}

	.chapter .content .desc h5 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		margin:1.5625em 0; /* 25/16 */
		text-transform:uppercase;
	}

	.chapter .content .desc h6 {
		font-family:Montserrat, Helvetica Neue, Helvetica, sans-serif;
		font-size:0.8em;
		margin:2.0833333333333335em 0; /* 25/12 */
		text-transform:uppercase;
	}

	.chapter .content .desc ul {
		line-height:1.5em;
		margin-bottom:1.25em;
		margin-left:1.5em;
	}

	.chapter .content .desc p {
		margin-bottom:1.25em; /* 20/16 */
		line-height:150%;
	}

	.chapter .content .desc hr {
		border-bottom:0.125em solid {{css.colors.font}}; /* 2/16 */
		display:block;
		margin:1.5625em 0; /* 25/16 */
	}
</style>
